table.searchQuery {
    margin-left: auto;
    margin-right: auto;
	border-width: 1px;
	border-spacing: 15px;
	border-style: none;
	border-collapse: separate;
	background-color: white;
	padding: 5px;
    font-size: 20px;
}

td#searchQInfo {
    text-align: center;
}

td#searchQError {
    text-align: center;
    color: red;
}

table.ipSearch {
    margin-left: auto;
    margin-right: auto;
	border-width: 5px;
	border-spacing: 2px;
	border-style: solid;
	border-color: #7BD4F7;
	border-collapse: separate;
	background-color: white;
	padding: 2px;
	text-align: center;
	font-size: 20px;
}

input#ipSearch_AddressQ {
    background-color: #7BD4F7;
}

input#ipSearch_DestIP {
    background-color: #7BD4F7;
}

input#ipSearch_DestPort {
    background-color: #7BD4F7;
}
