table.ipSearch {
    border-left: auto;
    border-right: auto;
	border-width: 1px;
	border-spacing: 2px;
	border-style: none;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
table.ipSearch2 th {
	border-width: 3px;
	padding: 0px;
	border-style: double;
	border-color: gray;
	background-color: white;
	-moz-border-radius: 0px;
}
table.ipSearch3 td {
	border-width: 3px;
	padding: 0px;
	border-style: double;
	border-color: gray;
	background-color: white;
	-moz-border-radius: 0px;
}
