table.aggNetworkStatistic {
    width: 1200px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1;
    border-collapse: collapse;
   	white-space:nowrap;
}

td#graphEntry {
    border-style: solid;
    border-width: 1px;
}

/*
td#graph_NoRoCo { 
    border-style: solid;
    border-width: 1px;
    background-image: url(../img/graph_old.png);
    background-repeat: no-repeat; 
	background-position: center; 
}

td#graph_NoExRo { 
    border-style: solid;
    border-width: 1px;
    background-image: url(../img/graph_old.png);
    background-repeat: no-repeat; 
	background-position: center; 
}

td#graph_NoRoTime { 
    border-style: solid;
    border-width: 1px;
    background-image: url(../img/graph_old.png);
    background-repeat: no-repeat; 
	background-position: center; 
}

td#graph_NoRoObs { 
    border-style: solid;
    border-width: 1px;
    background-image: url(../img/graph_old.png);
    background-repeat: no-repeat; 
	background-position: center; 
}

td#graph_NoRoPlat { 
    border-style: solid;
    border-width: 1px;
    background-image: url(../img/graph_old.png);
    background-repeat: no-repeat; 
	background-position: center; 
}

td#graph_aggSummary { 
    border-style: solid;
    border-width: 1px;
    background-image: url(../img/graph_old.png);
    background-repeat: no-repeat; 
	background-position: center; 
}
*/






