body {
    font-family: FreeSans, Arial, Helvetica, sans-serif;
}

td {
    line-height:75%;
}
td.headerTitle {
	background-color: #7BD4F7;
	text-align:center;
	font-size: 3.0em;
    font-weight: bold;
	color: #000000;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

td.headerLinks {
	background-color: #7BD4F7;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	text-align: center;
	font-size: 0.75em;
	color: red;
}

tr {
    line-height:75%;
}
tr.relay: {
	font: 0.625em;
}

tr.relay:hover {
	background-color: #69EEC8;
}

th {
    line-height:75%;
}

th.relayHeader {
	text-align: left;
	font: bold 0.6875em; /*11px Arial;*/
	background-color: #7BD4F7;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

th.relayHeader:hover {
	background-color: #89FB69;	
}

th.relayHeaderInv {
	text-align: left;
	font: bold 0px Arial;
	background-color: #7BD4F7;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

table.body
{
	width: 100%;
	border-style: none;
	margin-left: auto;
	margin-right: auto;
}

table.displayStatus {
	width: 300px;
	position: center;
	border-style: none;
	margin-left: auto;
	margin-right: auto;
}

table.legend {
	width: 300px;
	position: center;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin-left: auto;
	margin-right: auto;
}
	
a:hover {
	color: black;
	text-decoration: none;
}

a.link {
	color: black;
	text-decoration: none;
}

a.link:hover {
	background-color: #89FB69;
}

.relayOK {
	font: 0.625em /*Arial;*/
	background-color: white;
}

.relayHibernating {
	font: 0.625em /*Arial;*/
	background-color: #FEEED0;
}

.relayDown {
	font: 0.625em /*Arial;*/
	background-color: yellow;
}

.relayBadExit {
	background-color: red;
}

table.appServerDetails {
	width: 350px;
	border-style: solid;
	border-color: black; 
	border-width: 1px;
	margin-left: auto;
	margin-right: auto;
}

td.boxTitle {
	font: bold 0.625em; /*10pt Arial;*/
	background-color: #7BD4F7;
	text-align: center;
	position: center;
	color: #000000; 
	white-space:nowrap;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

tr.appServerDetails:hover {
	background-color: #7BD4F7;
}

td {
    font-size: 0.5625em;
    /*font-family: FreeSans, Arial, Helvetica, sans-serif;*/
}

th {
	font-size:12;
	font-weight:bold
}
