body {
    font-family: FreeSans, Arial, Helvetica, sans-serif;
}

tr.relay {
	font: 0.625em;
    line-height:75%;
}

tr.relay:hover {
	background-color: #69EEC8;
}

th {
    line-height:75%;
}

th#relayHeader {
	text-align: left;
	font-weight: bold; 
	font-size: 0.6875em;
	background-color: #7BD4F7;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

th#relayHeader:hover {
	background-color: #89FB69;	
	cursor: pointer;
}

th#relayHeaderInv {
	text-align: left;
	font: bold 0px Arial;
	background-color: #7BD4F7;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	cursor: pointer;
}

table.header {
	width: 100%;
	border-style: none;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 1;
	padding: 2px;
}

td#mainTitle {
	background-color: #7BD4F7;
	text-align:center;
	font-size: 2.0em;
    font-weight: bold;
	color: #000000;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	padding: 10px;
}

td#mainLinks {
	background-color: #7BD4F7;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	text-align: center;
	font-size: 0.75em;
	color: red;
	padding: 10px;
}


table.displayStatus {
	width: 300px;
	position: center;
	border-style: none;
	margin-left: auto;
	margin-right: auto;
    border-spacing: 1;
	padding: 2px;
}

table.legend {
	width: 300px;
	position: center;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin-left: auto;
	margin-right: auto;
    border-spacing: 1;
	padding: 2px;
}
	
a:hover {
	color: black;
	text-decoration: none;
}

a.link {
	color: black;
	text-decoration: none;
}

a.link:hover {
	background-color: #89FB69;
}

a.linkDetails {
    color: black;
	text-decoration: none;
}

.relayOK {
	font: 0.625em; /*Arial;*/
	background-color: white;
}

.relayHibernating {
	font: 0.625em; /*Arial;*/
	background-color: #FEEED0;
}

.relayDown {
	font: 0.625em; /*Arial;*/
	background-color: yellow;
}

.relayBadExit {
	background-color: red;
}

table.appServerDetails {
	width: 350px;
	border-style: solid;
	border-color: black; 
	border-width: 1px;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 1;
/*	padding: 2px;*/
}

tr#row_appServerDetails:hover {
	background-color: #7BD4F7;
	cursor: pointer;
}

table.aggStatisticSummary {
    width: 325px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1;
    border-collapse: collapse;
   	white-space:nowrap;
}

tr#row_aggStatisticSummary {
    
}

td#aggBox {
	font: bold 0.625em; /*10pt Arial;*/
    border-style: solid;
    border-width: 1px;
	text-align: center;
	position: center;
	color: #000000; 
	white-space:nowrap;
}

td.boxTitle {
	font: bold 0.625em; /*10pt Arial;*/
	background-color: #7BD4F7;
	text-align: center;
	position: center;
	color: #000000; 
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	white-space:nowrap;
}

td#col_relayName {
    background-color: #C7FF89;
    width: 20px;
}


td#col_relayName:hover {
    background-color: #69EEC8;
}

td#col_relayBandwidth {
    width: 100px;
}

td#col_relayUptime {
    width: 50px;
}

td#col_relayIcons {
    width: 100px;
    text-align: right;
}

td#col_relayOrport {
    width: 50px;
}


td#col_relayDirport {
    width: 50px;
}

td#col_relayBadExit {
    width: 50px;
    text-align: center;
}

td {
    font-size: 0.5625em;
    /*font-family: FreeSans, Arial, Helvetica, sans-serif;*/
}

table.relayTable {
    width: 100%;
    border-spacing: 0;
    border: 0;
}

div.footer {
    text-align: center;
    padding: 5px 0 0 0;
    margin: 25px 0 0 0;
    border-top: 1px solid rgb(100,100,100);
    color: rgb(100, 100, 100);
}

p#trademark {
    text-align: center;
    font-size: 12px;
    margin: 0 0 1px 0;
}



