{% extends "base.html" %}

{% block mainCSS %}
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"></link>
{% endblock %}

{% block auxCSS %}
<link rel="stylesheet" type="text/css" href="../../static/css/columnpreferences.css"></link>
{% endblock %}

{% block mainTitle %} Tor Network Status -- Column Display Preferences {% endblock %}

{% block headerTitle %} Tor Network Status -- Column Display Preferences {% endblock %}

{% block mainPage %}

<table class="aggStatisticSummary" id="opinionsource">
<tr>
    <td class="boxTitle" colspan="1">Column Display Preferences Detail</td>
</tr>
<tr>
    <td><a class="link" href="..">Done / Return to Main Page</a>
</tr>
</table>

{% endblock %}
