{% extends "base.html" %}

{% block auxCSS %} 
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"></link>
{% endblock %}

{% block mainTitle %} TorStatus Details Page -- [[RELAY_NAME]] {% endblock %}

{% block headerTitle %} TorStatus {% endblock %}

{% block mainPage %}
<table cellspacing="2" cellpadding="2" class="displayStatus">
<tr>
	<td class="headerLinks">
        Details for Relay: [[RELAY_NAME]]
	</td>
</tr>
</table>

<br />
<br />

<table class="aggStatisticSummary" id="networkstatisticsummary">
<tr>
    <td class="boxTitle" colspan="2"> General Information </td>
</tr>
<tr class="aggStatisticSummary">
	<td class="aggBox">Router Name: </td>
    <td class="aggBox">[[ROUTER_NAME]]</td>
</tr>
<tr class="aggStatisticSummary">
	<td class="aggBox">Fingerprint: </td>
    <td class="aggBox">[[ROUTER_FINGERPRINT]]</td>
</tr>
<tr class="aggStatisticSummary">
	<td class="aggBox">Contact: </td>
    <td class="aggBox">[[ROUTER_COTACT]]</td>
</tr>
<tr class="aggStatisticSummary">
	<td class="aggBox">IP Address: </td>
    <td class="aggBox">[[ROUTER_ADDRESS]]</td>
</tr>
<tr class="aggStatisticSummary">
	<td class="aggBox">Hostname: </td>
    <td class="aggBox">[[ROUTER_ADDRESS_HOST]]</td>
</tr>
<tr class="aggStatisticSummary">
	<td class="aggBox">Onion Router Port: </td>
    <td class="aggBox">[[ROUTER_ORPORT]]</td>
</tr>
<tr class="aggStatisticSummary">
	<td class="aggBox">Directory Server Port: </td>
    <td class="aggBox">[[ROUTER_DIRPORT]]</td>
</tr>
<tr class="aggStatisticSummary">
	<td class="aggBox">Country Code: </td>
    <td class="aggBox">[[ROUTER_COUNTRY]]</td>
</tr>
<tr class="aggStatisticSummary">
	<td class="aggBox">Platform / Version: </td>
    <td class="aggBox">[[ROUTER_PLATFORM]]</td>
</tr>
<tr class="aggStatisticSummary">
	<td class="aggBox">Last Descriptor Published (GMT): </td>
    <td class="aggBox">[[ROUTER_LAST_DESCRIPTOR]]</td>
</tr>
<tr class="aggStatisticSummary">
	<td class="aggBox">Current Uptime: </td>
    <td class="aggBox">[[ROUTER_UPTIME]]</td>
</tr>
<tr class="aggStatisticSummary">
	<td class="aggBox">Bandwidth (Max/Burst/Observed - In Bps): </td>
    <td class="aggBox">[[ROUTER_BANDWIDTH_MAX]] / [[ROUTER_BANDWIDTH_BURST]] / [[ROUTER_BANDWIDTH_OBSERVED]]</td>
</tr>
<tr class="aggStatisticSummary">
	<td class="aggBox">Family: </td>
    <td class="aggBox">[[ROUTER_FAMILY]]</td>
</tr>
</table>

<br />

<table class="aggStatisticSummary" id="networkstatisticsummary">
<tr>
    <td class="boxTitle" colspan="2"> General Information </td>
</tr>
<tr class="aggStatisticSummary">
	<td class="aggBox"><img src="../../static/img/graph_old.png" width="480px" height="300px" alt="GRAPH 1"  title="GRAPH 1"> </td>
    <td class="aggBox"><img src="../../static/img/graph_old.png" width="480px" height="300px" alt="GRAPH 2"  title="GRAPH 2"> </td>
</tr>
</table>

<br />

<table width='80%' cellpadding='10' cellspacing='10' border='0' align='center'>
<tr>

<td>

<table width='*' cellspacing='2' cellpadding='2' border='0' align='center'>
<tr>
        <td class='TDBLACK'>
        <table cellspacing='2' cellpadding='6' border='0' align='center' width='100%'>
        <tr>
            <td class='THN'>Router Keys</td>
        </tr>
        <tr>
            <td class='TRSB'>
            <br />
            <b>Onion Key:</b>
                <pre> [[ROUTER_ONION_KEY]]
                </pre>
            <b>Signing Key:</b>
                <pre> [[ROUTER_SIGNING_KEY]]
                </pre>
            <br/>

</td>
</tr>
</table>
</td>
</tr>
</table>
</td>

<td>
<table width='*' cellspacing='2' cellpadding='2' border='0' align='center'>
<tr>
<td class='TDBLACK'>
<table cellspacing='2' cellpadding='6' border='0' align='center' width='100%'>
<tr>
<td class='THN' colspan='2'>Router Flags</td>
</tr>

<tr class='nr'>
<td class='TRAR'><b>Authority:</b></td>
<td class='F0'></td>
</tr>
<tr class='nr'>
<td class='TRAR'><b>Bad Directory:</b></td>
<td class='F0'></td>
</tr>
<tr class='nr'>
<td class='TRAR'><b>Bad Exit:</b></td>
<td class='F0'></td>
</tr>
<tr class='nr'>
<td class='TRAR'><b>Exit:</b></td>

<td class='F1'></td>
</tr>
<tr class='nr'>
<td class='TRAR'><b>Fast:</b></td>
<td class='F1'></td>
</tr>
<tr class='nr'>
<td class='TRAR'><b>Guard:</b></td>
<td class='F1'></td>
</tr>
<tr class='nr'>
<td class='TRAR'><b>Hibernating:</b></td>
<td class='F0'></td>
</tr>

<tr class='nr'>
<td class='TRAR'><b>Named:</b></td>
<td class='F1'></td>
</tr>
<tr class='nr'>
<td class='TRAR'><b>Stable:</b></td>
<td class='F1'></td>
</tr>
<tr class='nr'>
<td class='TRAR'><b>Running:</b></td>
<td class='F1'></td>
</tr>
<tr class='nr'>
<td class='TRAR'><b>Valid:</b></td>

<td class='F1'></td>
</tr>
<tr class='nr'>
<td class='TRAR'><b>V2Dir:</b></td>
<td class='F1'></td>
</tr>
</table>
</td>
</tr>
</table>
</td>

<td>
<table width='*' cellspacing='2' cellpadding='2' border='0' align='center'>
<tr>
<td class='TDBLACK'>

<table cellspacing='2' cellpadding='6' border='0' align='center' width='100%'>
<tr>
<td class='THN'>Exit Policy Information</td>
</tr>
<tr>
<td class='TRS'><b>
<br/>
reject 0.0.0.0/8:*<br/>
reject 169.254.0.0/16:*<br/>
reject 127.0.0.0/8:*<br/>
reject 192.168.0.0/16:*<br/>
reject 10.0.0.0/8:*<br/>

reject 172.16.0.0/12:*<br/>
reject 190.183.221.175:*<br/>
accept *:80<br/>
accept *:109<br/>
accept *:110<br/>
accept *:443<br/>
accept *:993<br/>
accept *:995<br/>

accept *:8080<br/>
reject *:*<br/>
<br/>
</b>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>

</tr>
</table>

{% endblock %}
