{% extends "base.html" %}

{% block mainCSS %} 
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"></link>
{% endblock %}

{% block auxCSS %}
<link rel="stylesheet" type="text/css" href="../../static/css/details.css"></link>
{% endblock %}

{% block mainTitle %} TorStatus Details Page -- [[RELAY_NAME]] {% endblock %}

{% block headerTitle %} TorStatus {% endblock %}

{% block mainPage %}
<table cellspacing="2" cellpadding="2" class="displayStatus">
<tr>
	<td id="mainLinks">
        Details for Relay: [[RELAY_NAME]]
	</td>
</tr>
</table>

<br />
<br />

<table class="aggStatisticSummary" id="networkstatisticsummary">
<tr>
    <td class="boxTitle" colspan="2"> General Information </td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Router Name: </td>
    <td id="aggBox">[[ROUTER_NAME]]</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Fingerprint: </td>
    <td id="aggBox">[[ROUTER_FINGERPRINT]]</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Contact: </td>
    <td id="aggBox">[[ROUTER_COTACT]]</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">IP Address: </td>
    <td id="aggBox">[[ROUTER_ADDRESS]]</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Hostname: </td>
    <td id="aggBox">[[ROUTER_ADDRESS_HOST]]</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Onion Router Port: </td>
    <td id="aggBox">[[ROUTER_ORPORT]]</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Directory Server Port: </td>
    <td id="aggBox">[[ROUTER_DIRPORT]]</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Country Code: </td>
    <td id="aggBox">[[ROUTER_COUNTRY]]</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Platform / Version: </td>
    <td id="aggBox">[[ROUTER_PLATFORM]]</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Last Descriptor Published (GMT): </td>
    <td id="aggBox">[[ROUTER_LAST_DESCRIPTOR]]</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Current Uptime: </td>
    <td id="aggBox">[[ROUTER_UPTIME]]</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Bandwidth (Max/Burst/Observed - In Bps): </td>
    <td id="aggBox">[[ROUTER_BANDWIDTH_MAX]] / [[ROUTER_BANDWIDTH_BURST]] / [[ROUTER_BANDWIDTH_OBSERVED]]</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Family: </td>
    <td id="aggBox">[[ROUTER_FAMILY]]</td>
</tr>
</table>

<br />

<table class="aggStatisticSummary" id="networkstatisticsummary">
<tr>
    <td class="boxTitle" colspan="2"> Graphs </td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox"><img src="../../static/img/graph_old.png" width="480px" height="300px" alt="GRAPH 1"  title="GRAPH 1"> </td>
    <td id="aggBox"><img src="../../static/img/graph_old.png" width="480px" height="300px" alt="GRAPH 2"  title="GRAPH 2"> </td>
</tr>
</table>

<br />


<table class="mainDetails">
<tr>
    <td>
        <table>
            <tr>
                <td> Router Keys </td>
            </tr>
            <tr>
                <td><b> Onion Key: </b><pre> [[ROUTER_ONION_KEY]] </pre>
                    <br />
                    <b> Signing Key: </b><pre> [[ROUTER_SIGNING_KEY]] </pre>
                </td>
            </tr>
        </table>
    </td>
    <td>
        <table>
            <tr>
                <td colspan="2" align="center"> Router Flags </td>
            </tr>
            <tr> 
                <td> Authority: </td>
                <td> ICON </td>
            </tr>
            <tr> 
                <td> Bad Directory: </td>
                <td> ICON </td>
            </tr>
            <tr> 
                <td> Bad Exit: </td>
                <td> ICON </td>
            </tr>
            <tr> 
                <td> Exit: </td>
                <td> ICON </td>
            </tr>
            <tr> 
                <td> Fast: </td>
                <td> ICON </td>
            </tr>
            <tr> 
                <td> Guard: </td>
                <td> ICON </td>
            </tr>
            <tr> 
                <td> Hibernating: </td>
                <td> ICON </td>
            </tr>
            <tr> 
                <td> Named: </td>
                <td> ICON </td>
            </tr>
            <tr> 
                <td> Stable: </td>
                <td> ICON </td>
            </tr>
            <tr> 
                <td> Running: </td>
                <td> ICON </td>
            </tr>
            <tr> 
                <td> Valid: </td>
                <td> ICON </td>
            </tr>
            <tr> 
                <td> V2Dir: </td>
                <td> ICON </td>
            </tr>
        </table>
    </td>
    <td>
        <table>
            <tr>
                <td> Exit Policy Information </td>
            </tr>
            <tr>
                <td> [[EXIT POLICY INFORMATION </td>
            </tr>
        </table>
    </td>
</tr>
</table>
    
     
                


<!--
<table class="mainDetails">
<tr>

<td>
<table width='*' cellspacing='2' cellpadding='2' border='0' align='center'>
<tr>
    <td class='TDBLACK'>
    <table cellspacing='2' cellpadding='6' border='0' align='center' width='100%'>
    <tr>
        <td class='THN'>Router Keys</td>
    </tr>
    <tr>
        <td class='TRSB'>
        <br />
        <b>Onion Key:</b>
            <pre> [[ROUTER_ONION_KEY]]
            </pre>
        <b>Signing Key:</b>
            <pre> [[ROUTER_SIGNING_KEY]]
            </pre>
        <br/>
        </td>
    </tr>
    </table>
    </td>
</tr>
</table>
</td>

<td>
<table width='*' cellspacing='2' cellpadding='2' border='0' align='center'>
<tr>
    <td class='TDBLACK'>
    <table cellspacing='2' cellpadding='6' border='0' align='center' width='100%'>
    <tr>
        <td class='THN' colspan='2'>Router Flags</td>
    </tr>
    <tr class='nr'>
        <td class='TRAR'><b>Authority:</b></td>
        <td class='F0'></td>
    </tr>
    <tr class='nr'>
        <td class='TRAR'><b>Bad Directory:</b></td>
        <td class='F0'></td>
    </tr>
    <tr class='nr'>
        <td class='TRAR'><b>Bad Exit:</b></td>
        <td class='F0'></td>
    </tr>
    <tr class='nr'>
        <td class='TRAR'><b>Exit:</b></td>
        <td class='F1'></td>
    </tr>
    <tr class='nr'>
        <td class='TRAR'><b>Fast:</b></td>
        <td class='F1'></td>
    </tr>
    <tr class='nr'>
        <td class='TRAR'><b>Guard:</b></td>
        <td class='F1'></td>
    </tr>
    <tr class='nr'>
        <td class='TRAR'><b>Hibernating:</b></td>
        <td class='F0'></td>
    </tr>
    <tr class='nr'>
    <td class='TRAR'><b>Named:</b></td>
        <td class='F1'></td>
    </tr>
    <tr class='nr'>
        <td class='TRAR'><b>Stable:</b></td>
        <td class='F1'></td>
    </tr>
    <tr class='nr'>
        <td class='TRAR'><b>Running:</b></td>
        <td class='F1'></td>
    </tr>
    <tr class='nr'>
        <td class='TRAR'><b>Valid:</b></td>
        <td class='F1'></td>
    </tr>
    <tr class='nr'>
        <td class='TRAR'><b>V2Dir:</b></td>
        <td class='F1'></td>
    </tr>
    </table>
    </td>
</tr>
</table>
</td>

<td>
<table width='*' cellspacing='2' cellpadding='2' border='0' align='center'>
<tr>
    <td class='TDBLACK'>
    <table cellspacing='2' cellpadding='6' border='0' align='center' width='100%'>
    <tr>
        <td class='THN'>Exit Policy Information</td>
    </tr>
    <tr>
        <td class='TRS'>
        <b>
        [[ EXIT POLICY INFORMATION ]]
        </b>
        </td>
    </tr>
    </table>
    </td>
</tr>
</table>
</td>

</tr>
</table>
-->

{% endblock %}
