{% extends "base.html" %}

{% block mainCSS %} 
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"></link>
{% endblock %}

{% block auxCSS %}
<link rel="stylesheet" type="text/css" href="../../static/css/details.css"></link>
{% endblock %}

{% block mainTitle %} TorStatus Router Details -- {{nickname}} {% endblock %}

{% block headerTitle %} TorStatus {% endblock %}

{% block mainPage %}

{% load details_filters %}

<table cellspacing="2" cellpadding="2" class="displayStatus">
<tr>
	<td id="mainLinks">
        Details for Relay: {{nickname}}
	</td>
</tr>
</table>

<br />
<br />

<table class="aggStatisticSummary" id="networkstatisticsummary">
<tr>
    <td class="boxTitle" colspan="2">General Information</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Router Name:</td>
    <td id="aggBox">{{nickname}}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Fingerprint:</td>
    <td id="aggBox">{{fingerprint|format_fing}}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Contact:</td>
    <td id="aggBox">{{rawdesc|contact}}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">IP Address:</td>
    <td id="aggBox">{{address}}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Hostname:</td>
    <td id="aggBox">{{address|hostname}}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Onion Router Port:</td>
    <td id="aggBox">{{orport}}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Directory Server Port:</td>
    <td id="aggBox">{{dirport}}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Country Code:</td>
    <td id="aggBox">[[ROUTER_COUNTRY]]</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Platform / Version:</td>
    <td id="aggBox">{{platform}}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Last Descriptor Published (GMT):</td>
    <td id="aggBox">{{published}}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Current Uptime:</td>
    <td id="aggBox">{{uptime|words}}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Bandwidth (Burst/Avg/Observed - In Bps):</td>
    <td id="aggBox">{{bandwidthburst}} / {{bandwidthavg}} / {{bandwidthobserved}}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Family:</td>
    <td id="aggBox">{{rawdesc|family|safe}}</td> <!-- |safe|linebreaks}}</td> -->
</tr>
</table>

<br />

<table class="aggStatisticSummary" id="networkstatisticsummary">
<tr>
    <td class="boxTitle" colspan="2"> Graphs </td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox"><img src="../../static/img/graph_old.png" width="480px" height="300px" alt="GRAPH 1"  title="GRAPH 1"> </td>
    <td id="aggBox"><img src="../../static/img/graph_old.png" width="480px" height="300px" alt="GRAPH 2"  title="GRAPH 2"> </td>
</tr>
</table>

<br />


<table class="mainDetails">
<tr>
    <td>
        <table class="details">
            <tr>
                <td id="details_boxTitle"> Router Keys </td>
            </tr>
            <tr>
                <td>Onion Key:<pre>{{rawdesc|onion_key}}</pre></td>
            </tr>
            <tr>
                <td>Signing Key:<pre>{{rawdesc|signing_key}}</pre></td>
            </tr>
        </table>
    </td>
    <td>
        <table class="details">
            <tr>
                <td id="details_boxTitle" colspan="2"> Router Flags </td>
            </tr>
            
            <tr> 
                <td id="detailBox"> Authority: </td>
                <td {% if isauthority %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> Bad Directory: </td>
                <td {% if isbaddirectory %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> Bad Exit: </td>
                <td {% if isbadexit %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> Exit: </td>
                <td {% if isexit %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> Fast: </td>
                <td {% if isfast %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> Guard: </td>
                <td {% if isguard %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> Hibernating: </td>
                <td {% if ishibernating %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> Named: </td>
                <td {% if isnamed %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> Stable: </td>
                <td {% if isstable %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> Running: </td>
                <td {% if isrunning %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> Valid: </td>
                <td {% if isvalid %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> V2Dir: </td>
                <td {% if isauthority %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
        </table>
    </td>
    <td>
        <table class="details">
            <tr>
                <td id="details_boxTitle"> Exit Policy Information </td>
            </tr>
            <tr>
                <td><pre>{{rawdesc|exitinfo}}</pre></td>
            </tr>
        </table>
    </td>
</tr>
</table>
    
{% endblock %}
