<html>

<head>
 
<link rel="stylesheet" type="text/css" href="static/css/style.css" />

</head>

<body>
<h1> First New TorStatus Table? </h1>

{% if statusEntry_FullList %}
	<table border="0">
	<tr>
		<th> Router Name </th>
		<th> Bandwidth </th>
		<th> orPort </th>
		<th> dsPort </th>
		<th> isFast </th>
		<th> isGuard </th>
		<th> isExit </th>
		<th> TEST </th>
	</tr>
	{% for relay in statusEntry_FullList %}
		<tr>
			<td><img src="flags/us.gif"> {{relay.nickname}} </td>
			<td> {{relay.bandwidth}} kb/s</td>
			<td> {{relay.orport}} </td>
			<td> {{relay.dirport}} </td>
			<td> {{relay.isfast}} </td>			
			<td> {{relay.isguard}} </td>
			<td> {{relay.isexit}} </td>
			<td> {{descriptorDictionary.relay.address}} </td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	<p> NO LIST !
{% endif %}
</body>

</html>

