{% extends "base.html" %}

{% block mainCSS %}
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"></link>
{% endblock %}

{% block auxCSS %}
<link rel="stylesheet" type="text/css" href="../../static/css/nodequery.css"></link>
{% endblock %}

{% block mainTitle %} Tor Network Status -- Tor Exit Query {% endblock %}

{% block headerTitle %} TorStatus {% endblock %}

{% block mainPage %}

<table class="searchQuery">
<tr>
    <td id="searchQInfo"> You can use this page to determine if an IP address is an active Tor server, and optionally see if that Tor server's Exit Policy would permit it to exit a certain destination IP address and port.</td>
</tr>
<tr>
    <td id="searchQError"> -You must enter a Query IP, at minimum- </td>
</tr>
<tr>
    <td id="searchQMessage"> {{ message }} </td>
</tr>
<tr>
    <td>
        <table class="ipSearch">
            <form action="" method="get">
            <tr>
                <td id="ipSearch_AddressQ"> IP Address to Query: </td>
            </tr>
            <tr>
                <td>
                    <input id="ipSearch_AddressQ" type="text" name="queryAddress" />
                </td>
            </tr>
            <tr>
                <td id="ipSearch_DestIP"> Destination IP Address: </td>
            </tr>
            <tr>
                <td>
                    <input id="ipSearch_DestIP" type="text" name="destinationAddress" />
                </td>
            </tr>
            <tr>
                <td id="ipSearch_DestPort"> Destination Port: </td>
            </tr>
            <tr>
                <td>
                    <input id="ipSearch_DestPort" type="text" name="destinationPort" />
                </td>
            </tr>
            <tr>
                <td id="ipSearch_SUBMIT">
                    <input type="submit" value="Submit Query" />
                </td>
            </tr>
            </form>
        </table>
    </td>
</tr>
</table>

{% endblock %}
