{% extends "base.html" %}

{% block mainCSS %}
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"></link>
{% endblock %}

{% block auxCSS %}
<link rel="stylesheet" type="text/css" href="../../static/css/nodequery.css"></link>
{% endblock %}

{% block mainTitle %} Tor Network Status -- Tor Exit Query {% endblock %}

{% block headerTitle %} Tor Network Status -- Tor Exit Query {% endblock %}

{% block mainPage %}

<p>You can use this page to determine if an IP address is an active Tor server, and optionally see if that Tor server's Exit Policy would permit it to exit a certain destination IP address and port.</p>

<p>-You must enter a Query IP, at minimum-</p>

<p>{{ message }}</p>

<br />

<table cellspacing="2" cellpadding="2" class="ipSearch">
    <tr>
        <tr>
            IP Address to Query:
            <p>
            <form action="" method="get">
                <input type="text" name="queryAddress" /><br />
            </p>
            Destination IP Address:
            <p>
                <input type="text" name="destinationAddress" /><br />
            </p>
            Destination Port:
            <p>
                <input type="text" name="destinationPort" /><br />
            </p>
            <td>
            <input type="submit" value="Submit Query" />
            </form>
        </td>
        </tr>
    </tr>
</table>

{% endblock %}
