{% extends "base.html" %}

{% block mainCSS %}
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"></link>
{% endblock %}

{% block auxCSS %}
<link rel="stylesheet" type="text/css" href="../../static/css/statisticgraphs.css"></link>
{% endblock %}

{% block mainTitle %} Tor Network Status -- Network Detail {% endblock %}

{% block headerTitle %} Tor Network Status -- Network Detail {% endblock %}

{% block mainPage %}

<table class="aggStatisticSummary" id="opinionsource">
<tr>
    <td class="boxTitle" colspan="1">Aggregate Network Statistic Graphs / Details</td>
</tr>
<tr>
    
</tr>
</table>

{% endblock %}
