<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% spaceless %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link rel="icon" type="image/ico" href="/static/img/favicon.ico">
{% block mainCSS %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css"></link>
{% endblock %}
{% block auxCSS %}
{% endblock %}
<title>{% block mainTitle %} {% endblock %}</title>
</head>

{% block banner %}
    <table class="header">
        <tr>
            <td rowspan="2">
                <a class="link" href="/"><img id="TorBannerPicture" src="/static/img/splash-banner.png" alt="TorStatus" title="Network Total Bandwidth" border="0"></a>
            </td>
            <td id="mainLinks">
                <a class="link" href="/index">List of Active Relays</a> |
                <a class="link" href="/exit-node-query">Tor Exit Node Query</a> |
                <a class="link" href="/advanced-search">Advanced Search</a> |
                <a class="link" href="/display-options">Display Options</a> |
                <a class="link" href="/network-statistic-graphs">Network Statistics</a>
                {% block moreLinks %}{% endblock %}
            </td>
        </tr>
</table>

{% endblock %}

{% block extraHeader %} {% endblock %}

<table class="mainPage">
<tr>
    {% block noPageTitle %} <td id="pageTitle"> {% block pageTitle %} {% endblock %} </td> {% endblock %}
</tr>
<tr>
    <td> {% block mainPage %} {% endblock %} </td>
</tr>
</table>
    <table class="mainPage">
<tr>
    <td id="pageFooter">"Tor" and the "Onion Logo" are <a target=_BLANK href="https://www.torproject.org/docs/trademark-faq">registered trademarks</a> of The Tor Project, Inc.
        </td>
    </tr>
</table>
</body>
</html>
{% endspaceless %}
