<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% spaceless %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link rel="icon" type="image/ico" href="/static/img/favicon.ico">
{% block mainCSS %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css"></link>
{% endblock %}
{% block auxCSS %}
{% endblock %}
<title>{% block mainTitle %} {% endblock %}</title>
</head>

<body onLoad="document.forms.searchForm.searchValue.focus()">
    {% block banner %}
    <table class="header">
        <tr>
            <td id="TorBanner">
                <a class="link" href="/">
                    <img id="TorBannerPicture" src="/static/img/resize.png" alt="TorStatus" title="Network Total Bandwidth" border="0">
                </a>
            </td>
        <td id="mainLinks">
        <a class="link" href="/unpaged">List of All Routers</a> |
        <a class="link" href="/exit-node-query">Tor Exit Node Query</a> |
        <a class="link" href="/display-options">Display Options</a> |
        <a class="link" href="/advanced-search">Advanced Search</a> |
        <a class="link" href="/network-statistic-graphs">Network Statistics</a>
    </td>
</tr>
</table>

{% endblock %}

{% block extraHeader %} {% endblock %}

{% block mainPage %} {% endblock %}

<div id="footer">
				<p id="trademark">
					"Tor" and the "Onion Logo" are <a target=_BLANK href="https://www.torproject.org/docs/trademark-faq">registered trademarks</a> of The Tor Project, Inc.
				</p>
			</div>
        </body>
</html>
{% endspaceless %}
