<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% spaceless %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link rel="icon" type="image/ico" href="/static/img/favicon.ico">
{% block mainCSS %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css"></link>
{% endblock %}
{% block auxCSS %}
{% endblock %}
<title>{% block mainTitle %} {% endblock %}</title>
</head>

<body>
<table class="header">
<tr>
	<td id="mainTitle">
		<a class="link" href="/">{% block headerTitle %} {% endblock %} </a>
	</td>
</tr>
<tr>
    <td id="mainLinks">
        <a class="link" href="/">Home</a> |
        <a class="link" href="/index">List of All Routers</a> |
        <a class="link" href="/exit-node-query">Tor Exit Node Query</a> |
		<a class="link" href="/index/#serverdetails">TorStatus Server Details</a> |
		<a class="link" href="/index/#advancedquery">Advanced Query Options</a> |
        <a class="link" href="/index/#advanceddisplayoptions">Advanced Display Options</a> |
        <a class="link" href="/index/#networkstatisticsummary">Network Statistic Summary</a> |
		<a class="link" href="/network-statistic-graphs">Network Statistic Graphs</a> |
        <a class="link" href="/unpaged">Full Unpaged List of Routers (large)</a> |
        <a class="link" href="https://check.torproject.org/">Check If You Are Using Tor (TorCheck)</a>
    </td>
</tr>
<tr>
    <td id="mainLinks">
        <a class="link" href="/Tor-Query-Export.csv">CSV List of Current Result Set</a> |
		<a class="link" href="/Tor-IP-List-All.csv">CSV List of All Current Tor Server IP Addresses</a> |
		<a class="link" href="/Tor-IP-List-Exit.csv">CSV List of All Current Tor Server Exit Node IP Addresses</a>
	</td>
</tr>
<tr>
	<td>
		<br />
	</td>
</tr>
</table>

{% block extraHeader %} {% endblock %}
<br />
{% block mainPage %} {% endblock %}

<div class="footer">
				<p id="trademark">
					"Tor" and the "Onion Logo" are <a target=_BLANK href="https://www.torproject.org/docs/trademark-faq">registered trademarks</a> of The Tor Project, Inc.
				</p>
			</div>
</body>
</html>
{% endspaceless %}
