{% extends "base.html" %}

{% block auxCSS %}
<link rel="stylesheet" type="text/css" href="/static/css/details.css"></link>
{% endblock %}

{% block mainTitle %} TorStatus -- Router Details for {{ relay.nickname }} {% endblock %}

{% block headerTitle %} TorStatus {% endblock %}

{% block pageTitle %} {{ relay.nickname }} {% endblock %}

{% load details_filters %}
{% load global_filters %}

{% spaceless %}
{% block mainPage %}
<br />
<table class="detailsTable">
<tr>
    <td id="details_boxTitle" colspan="2">General Information</td>
</tr>

{% for option in options_list %}
<tr>
    <td id="detailsLabel"> {{option}}: </td>
    <td id="detailsInfo" {% if option == "Active Relay" %}
                            {% if relay_dict|key:option == "Yes" %}
                                style="background-color:rgb(0, 255, 0)"
                            {% else %}
                                style="background-color:rgb(255, 0, 0)"
                            {% endif %}
                         {% endif %} >
                         {% if option == "Fingerprint" %}
                            {{relay_dict|key:option|format_fing}}
                         {% else %}
                         {% if option == "Adjusted Uptime" or option == "Published Uptime" %}
                            {{relay_dict|key:option|words}}
                         {% else %}
                         {% if option == "Last Consensus Present (GMT)" or option == "Last Descriptor Published (GMT)" %}
                            {{relay_dict|key:option|date:"Y-m-d H:i:s"}}
                         {% else %}
                         {% if option == "Country" %}
                            {{relay_dict|key:option|code_to_country}}
                         {% else %}
                         {% if option == "Platform / Version" or option == "Contact" %}
                            {{relay_dict|key:option|wordwrap:72|linebreaksbr}}
                         {% else %}
                         {% if option == "Family" %}
                            {{relay_dict|key:option|format_family|safe|linebreaksbr}}
                         {% else %}
                            {{relay_dict|key:option}}
                         {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
    </td>
</tr>
{% endfor %}
</table>
<br />
<table class="detailsTable" id="networkstatisticsummary">
<tr>
    <td id="details_boxTitle" colspan="2"> Graphs </td>
</tr>
<tr>
    <td id="detailsInfo"><img src="{{ relay.fingerprint }}/readhist.png" alt="Bandwidth History Not Avaliable" title="Read Bandwidth History Graph"></td>
    <td id="detailsInfo"><img src="{{ relay.fingerprint }}/writehist.png" alt="Bandwidth History Not Available" title="Write Bandwidth History Graph"></td>
</tr>
</table>

<table class="mainDetails">
<tr>
    {% if relay.hasdescriptor %}
    <td>
        <table class="details">
            <tr>
                <td id="details_boxTitle"> Router Keys </td>
            </tr>
            <tr>
                <td>Onion Key:<pre id="key">{{ relay.onionkey }}</pre></td>
            </tr>
            <tr>
                <td>Signing Key:<pre id="key">{{ relay.signingkey }}</pre></td>
            </tr>
        </table>
    </td>
    {% endif %}
    <td>
        <table class="details">
            <tr>
                <td id="details_boxTitle" colspan="2"> Router Flags </td>
            </tr>

            {% for flag in flags_list %}
            <tr>
                <td id="detailBox"> {{flag}}: </td>
                <td {% if relay_dict|key:flag == 1 %} id="iconYes" {% else %} id="iconNo" {% endif %}> </td>
            </tr>
            {% endfor %}
        </table>
    </td>
    {% if relay.hasdescriptor %}
    <td>
        <table class="details">
            <tr>
                <td id="details_boxTitle" colspan=100%> Exit Policy Information </td>
            </tr>
            <tr>
                <td>
                    {% for line in relay.exitpolicy %}
                    {% if forloop.counter0|divisibleby:"16" %}
                    </td>
                    <td>
                    {% endif %}
                    {{ line }}<br />
                    {% endfor %}
                </td>
            </tr>
        </table>
    </td>
    {% endif %}
</tr>
</table>
{% endblock %}

{% endspaceless %}
