{% extends "base.html" %}

{% block auxCSS %}
<link rel="stylesheet" type="text/css" href="/static/css/details.css"></link>
{% endblock %}

{% block mainTitle %} TorStatus - Router Details -- {{ relay.nickname }} {% endblock %}

{% block headerTitle %} TorStatus {% endblock %}

{% block pageTitle %} Router Details -- {{ relay.nickname }} {% endblock %}

{% load details_filters %}
{% load global_filters %}

{% spaceless %}
{% block mainPage %}
<br />
<table class="detailsTable">
<tr>
    <td id="details_boxTitle" colspan="2">General Information</td>
</tr>
<tr>
	<td id="detailsLabel">Router Name:</td>
    <td id="detailsInfo">{{ relay.nickname }}</td>
</tr>
<tr>
	<td id="detailsLabel">Fingerprint:</td>
    <td id="detailsInfo">{{ relay.fingerprint|format_fing }}</td>
</tr>
<tr>
    <td id="detailsLabel">Active Relay:</td>
    {% if relay.active %}
    <td id="detailsInfo" style="background-color:rgb(0, 255, 0)">Yes</td>
</tr>
        {% if relay.hasdescriptor %}
        <tr>
	        <td id="detailsLabel">Adjusted Uptime:</td>
            <td id="detailsInfo">{{ relay.adjuptime|words }}</td>
        </tr>
        {% endif %}
    {% else %}
    <td id="detailsInfo" style="background-color:rgb(255, 0, 0)">No</td>
</tr>
    <td id="detailsLabel">Last Consensus Present (GMT):</td>
    <td id="detailsInfo">{{ relay.validafter|date:"Y-m-d H:i:s" }}</td>
</tr>
    {% endif %}
</tr>
<tr>
	<td id="detailsLabel">IP Address:</td>
    <td id="detailsInfo">{{ relay.address }}</td>
</tr>
<tr>
	<td id="detailsLabel">Hostname:</td>
    <td id="detailsInfo">{{ relay.hostname }}</td>
</tr>
<tr>
	<td id="detailsLabel">Onion Router Port:</td>
    <td id="detailsInfo">{{ relay.orport }}</td>
</tr>
<tr>
	<td id="detailsLabel">Directory Server Port:</td>
    <td id="detailsInfo">{{ relay.dirport }}</td>
</tr>
<tr>
	<td id="detailsLabel">Country:</td>
    <td id="detailsInfo">{{ relay.country|code_to_country }}</td>
</tr>
<tr>
    <td id="detailsLabel">Latitude, Longitude:</td>
    <td id="detailsInfo">{{ relay.latitude }}, {{ relay.longitude }}</td>
</tr>
{% if relay.hasdescriptor %}
<tr>
	<td id="detailsLabel">Platform / Version:</td>
    <td id="detailsInfo">{{ relay.platform|wordwrap:72|linebreaksbr }}</td>
</tr>
<tr>
	<td id="detailsLabel">Last Descriptor Published (GMT):</td>
    <td id="detailsInfo">{{ relay.published|date:"Y-m-d H:i:s" }}</td>
</tr>
<tr>
	<td id="detailsLabel">Published Uptime:</td>
    <td id="detailsInfo">{{ relay.uptime|words }}</td>
</tr>
<tr>
	<td id="detailsLabel">Bandwidth (Burst/Avg/Observed - In Bps):</td>
    <td id="detailsInfo">{{ relay.bandwidthburst }} / {{ relay.bandwidthavg }} / {{ relay.bandwidthobserved }}</td>
</tr>
<tr>
	<td id="detailsLabel">Contact:</td>
    <td id="detailsInfo">{{ relay.contact|wordwrap:72|linebreaksbr }}</td>
</tr>
<tr>
	<td id="detailsLabel">Family:</td>
    <td id="detailsInfo">{{ relay.family|format_family|safe|linebreaksbr }}</td>
</tr>
{% endif %}
</table>
<br />
<table class="detailsTable" id="networkstatisticsummary">
<tr>
    <td id="details_boxTitle" colspan="2"> Graphs </td>
</tr>
<tr>
    <td id="detailsInfo"><img src="{{ relay.fingerprint }}/readhist.png" alt="Bandwidth History Not Avaliable" title="Read Bandwidth History Graph"></td>
    <td id="detailsInfo"><img src="{{ relay.fingerprint }}/writehist.png" alt="Bandwidth History Not Available" title="Write Bandwidth History Graph"></td>
</tr>
</table>

<table class="mainDetails">
<tr>
    {% if relay.hasdescriptor %}
    <td>
        <table class="details">
            <tr>
                <td id="details_boxTitle"> Router Keys </td>
            </tr>
            <tr>
                <td>Onion Key:<pre id="key">{{ relay.onionkey }}</pre></td>
            </tr>
            <tr>
                <td>Signing Key:<pre id="key">{{ relay.signingkey }}</pre></td>
            </tr>
        </table>
    </td>
    {% endif %}
    <td>
        <table class="details">
            <tr>
                <td id="details_boxTitle" colspan="2"> Router Flags </td>
            </tr>

            <tr>
                <td id="detailBox"> Authority: </td>
                <td {% if relay.isauthority %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr>
                <td id="detailBox"> Bad Directory: </td>
                <td {% if relay.isbaddirectory %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> Bad Exit: </td>
                <td {% if relay.isbadexit %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> Exit: </td>
                <td {% if relay.isexit %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> Fast: </td>
                <td {% if relay.isfast %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> Guard: </td>
                <td {% if relay.isguard %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            {% if relay.hasdescriptor %}
            <tr>
                <td id="detailBox"> Hibernating: </td>
                <td {% if relay.ishibernating %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            {% endif %}
            <tr> 
                <td id="detailBox"> Named: </td>
                <td {% if relay.isnamed %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> Stable: </td>
                <td {% if relay.isstable %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> Running: </td>
                <td {% if relay.isrunning %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> Valid: </td>
                <td {% if relay.isvalid %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
            <tr> 
                <td id="detailBox"> V2Dir: </td>
                <td {% if relay.isv2dir %} id="iconYes" {% else %} id="iconNo" {% endif %}>  </td>
            </tr>
        </table>
    </td>
    {% if relay.hasdescriptor %}
    <td>
        <table class="details">
            <tr>
                <td id="details_boxTitle" colspan=100%> Exit Policy Information </td>
            </tr>
            <tr>
                <td>
                    {{ relay.exitpolicy|linebreaksbr }}
                </td>
            </tr>
        </table>
    </td>
    {% endif %}
</tr>
</table>
{% endblock %}

{% endspaceless %}
