{% extends "base.html" %}

{% block auxCSS %}
<link rel="stylesheet" type="text/css" href="/static/css/displayoptions.css"></link>
{% endblock %}

{% block mainTitle %} - TorStatus - Display Options {% endblock %}

{% block headerTitle %} TorStatus {% endblock %}

{% load displayoptions_filters %}

{% block pageTitle %} Display Options {% endblock %}

{% block mainPage %}
<table align="center">
    <tr>
        <td id="debug">
            {% if debug_message %}{{ debug_message|linebreaksbr }}{% else %}<br>{% endif %}<br><br></td>
    </tr>
</table>
<table class="displayPref">
<tr>
    <td>
    <form action="" method="get">
    <table class="selectionLists">
    <tr>
        <td id="selectForm">
            <input id="removeList" name="removeColumn" type="submit" value="Remove Column &#8702;" />
                <br />
                <select name="selected_removeColumn" size="20" id="selectForm_removeColumn">
                {% for entry in currentColumns %}
                        {% if entry|movable %}
                            <option value="{{entry}}" {% ifequal entry selectedEntry %} SELECTED {% endifequal %}>{{entry}}</option>
                        {% else %}
                            <option id="notMovable" value="{{entry}}" {% ifequal entry selectedEntry %} SELECTED {% endifequal %}>{{entry}}</option>
                        {% endif %}
                {% endfor %}

                </select>

                <p id="selectForm_text">Currently Selected Columns</p>
        </td>
        <td>
            <input id="upButton" name="upButton" type="submit" value="Up" />
            <br />
            <input id="downButton" name="downButton" type="submit" value="Down" />
        </td>
        <td id="selectForm">
            <input id="addList" name="addColumn" type="submit" value="&#8701; Add Column" />
                <br />
                <select name="selected_addColumn" size="20" id="selectForm_addColumn">

                {% for entry in availableColumns %}
                        {% if entry|movable %}
                            <option value="{{ entry }}">{{ entry }}</option>
                        {% else %}
                            <option id="notMovable" value="{{ entry }}">{{ entry }}</option>
                        {% endif %}
                {% endfor %}

                </select>

                <p id="selectForm_text">Available Columns</p>
        </td>
    </tr>
    </table>
    </form>
    </td>
</tr>
<tr>
    <td>
    <table class="resetButton_Table">
        <tr>
            <td colspan="2">
                <form action="/display-options" method="get">
                    <input name="resetPreferences" id="button" type="submit" value="Reset Column Preferences" />
                </form>
            </td>
        </tr>
    </table>
    </td>
</tr>
<tr>
    <td>
        <table align="center">
            <tr>
                <td>
                    <form action="" method="get">
                        <table align="center">
                            <tr>
                                <td id="label"> Relays Per Page (Currently {{ current_pp }}) </td>
                                <td><input id="ppinput" type="text" name="pp"></td>
                                <td><input type="submit" value="Submit" id="submitButton"></td>
                            </tr>
                            </table>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
<tr>
    <td id="mainLinks"><a href="/">Return to Splash Screen</a>   |   
                        <a href="/index/">Return to Index Page</a>
    </td>
</tr>
</table>

{% endblock %}
