{% extends "base.html" %}

{% block mainCSS %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css"></link>
{% endblock %}

{% block mainJS %}
<script src="static/js/sorttable.js" type="text/javascript"></script>
{% endblock %}

{% block mainTitle %} TorStatus Main Page {% endblock %}

{% block headerTitle %} TorStatus {% endblock %}

{% block extraHeader %}
<table cellspacing="2" cellpadding="2" class="displayStatus">
<tr>
	<td id="mainLinks">
		<a class="link" href="https://check.torproject.org/"> Check if you are using Tor (via TorCheck)</a>
		<br />
        Your IP Address is: {{client_address}}
	</td>
</tr>
</table>
<br />
<table cellspacing="1" cellpadding="2" class="legend">
<tr>
	<td class="boxTitle">Legend</td>
</tr>
<tr>
	<td class="relayOK">Router is ok</td>
</tr>
<tr>
	<td class="relayHibernating">Router is hibernating</td>
</tr>
<tr>
	<td class="relayDown">Router is currently down</td>
</tr>
<tr>
	<td class="relayBadExit">Router is a bad exit node</td>
</tr>
</table>
<br />
<table class="appServerDetails" id="serverdetails">
<tr>
	<td class="boxTitle" colspan="2">Application Server Details</td>
</tr>
<tr id="row_appServerDetails">
	<td>Cache Last Updated (Local Server Time):</td>
    <td>{{cache_updated}}</td>
</tr>
<tr id="row_appServerDetails">
	<td>Last Update Cycle Processing Time (Seconds):</td>
    <td>{{proc_time}}</td>
</tr>
<tr id="row_appServerDetails">
	<td>Current Cache Expire Time (Seconds):</td>
    <td>{{exp_time}}</td>
</tr>
<tr id="row_appServerDetails">
	<td>Number of Routers In Cache:</td>
    <td>{{num_routers}}</td>
</tr>
<tr id="row_appServerDetails">
	<td>Number of Descriptors In Cache:</td>
	<td>[[NUM_DESCS]]</td>
</tr>
<tr id="row_appServerDetails">
	<td>Approximate Page Generation Time (Seconds):</td>
    <td>{{gen_time}}</td>
</tr>
</table>

{% endblock %}

{% block mainPage %}

{% load index_filters %}
{% load gapless %}
{% gapless %}

{% if relay_list %}
<table class="relayTable sortable">
	<tr>
	{% for columnName in currentColumns %}
	    {% if columnName == "Country Code" %}
        <th class="sorttable_alpha relayHeader">&nbsp;</th>
        {% endif %}
        {% if columnName == "Router Name" %}
		<th class="sorttable_alpha relayHeader" id="routerName">Router Name</th>
		{% endif %}
		{% if columnName == "Bandwidth" %}
		<th class="sorttable_numeric relayHeader">Bandwidth</th>
		{% endif %}
		{% if columnName == "Uptime" %}
        <th class="sorttable_numeric relayHeader">Uptime</th>
        {% endif %}
        {% if columnName == "IP" %}
        <th class="sorttable_numeric relayHeader">IP</th>
        {% endif %}
        {% if columnName == "Fingerprint" %}
        <th class="sorttable_alpha relayHeader">Fingerprint</th>
        {% endif %}
        {% if columnName == "LastDescriptorPublished" %}
        <th class="sorttable_numeric relayHeader" id="lastDescPub">Last Descriptor Published</th>
        {% endif %}
        {% if columnName == "Contact" %}
        <th class="sorttable_alpha relayHeader">Contact</th>
        {% endif %}
        {% if columnName == "BadDir" %}
        <th class="sorttable_numeric relayHeader" id="badDir">Bad Directory</th>
        {% endif %}
        {% if columnName == "Icons" %}
        {% if "DirPort" in currentColumns or "Exit" in currentColumns or "Authority" in currentColumns or "Fast" in currentColumns or "Guard" in currentColumns or "V2Dir" in currentColumns or "Platform" in currentColumns or "Stable" in currentColumns %}
		<th class="sorttable_nosort" id="relayHeaderInv">Icons</th>
		{% endif %}
		{% endif %}
		{% if columnName == "ORPort" %}
        <th class="sorttable_numeric relayHeader">ORPort</th>
        {% endif %}
        {% if columnName == "DirPort" %}
        <th class="sorttable_numeric relayHeader">DirPort</th>
        {% endif %}
        {% if columnName == "BadExit" %}
        <th class="sorttable_numeric relayHeader">Bad Exit</th>
        {% endif %}
    {% endfor %}
	</tr>
	{% for relay in relay_list %}
	    {% if "BadExit" in currentColumns %}
		<tr {% if relay.isbadexit == 1 %} class="relayBadExit" {% else %} class="relay" {% endif %}>
		{% else %}
		<tr class="relay">
		{% endif %}
		    {% for columnName in currentColumns %}
		    {% if columnName == "Country Code" %}
            <td sorttable_customkey={{ relay.geoip|country }} id="col_relayName"><a href="http://www.openstreetmap.org/?mlon={{ relay.geoip|longitude }}&mlat={{ relay.geoip|latitude }}&zoom=6"><img src="static/img/flags/{{ relay.geoip|country }}.gif" alt={{ relay.geoip|country }} title="{{ relay.geoip|country }}: {{ relay.geoip|latitude }}, {{ relay.geoip|longitude }}" border=0></a></td>
			{% endif %}
			{% if columnName == "Router Name" %}
            <td id="col_relayName">
                {% if "Named" in currentColumns %}
                {% if relay.isnamed == 1 %}
                    <b><a class="linkDetails" href="/details/{{ relay.fingerprint }}" target="_BLANK">{{ relay.nickname }}</a></b>
                    {% else %}
                    <a class="linkDetails" href="/details/{{ relay.fingerprint }}" target="_BLANK">{{ relay.nickname }}</a>
                {% endif %}
                {% else %}
                    <a class="linkDetails" href="/details/{{ relay.fingerprint }}" target="_BLANK">{{ relay.nickname }}</a>
                {% endif %}
            </td>
            {% endif %}
            {% if columnName == "Bandwidth" %}
            <td id="col_relayBandwidth">{{ relay.descriptorid.bandwidthobserved|kilobytes_ps }} KB/s</td>
            {% endif %}
            {% if columnName == "Uptime" %}
            <td id="col_relayUptime">{{ relay.descriptorid.uptime|days }} d</td>
            {% endif %}
            {% if columnName == "IP" %}
            <td id="col_relayAddress">[<a href="details/{{ relay.address }}/whois">{{ relay.address }}</a>]</td>
            {% endif %}
            {% if columnName == "Fingerprint" %}
            <td id="col_relayFingerprint">{{ relay.fingerprint }}</td>
            {% endif %}
            {% if columnName == "LastDescriptorPublished" %}
            {% load details_filters %}
            <td id="col_relayLastDescPub">{{ relay.published }}</td>
            {% endif %}
            {% if columnName == "Contact" %}
            <td id="col_relayContact">{{ relay.descriptorid.rawdesc|contact }}</td>
            {% endif %}
            {% if columnName == "BadDir" %}
            <td id="col_relayBadDir" {% if relay.isbaddirectory == 1 %} sorttable_customkey="1">
                	<img src="static/img/bg_yes.png" width="12" height="12" alt="Bad Directory" title="Bad Directory">
                {% else %} sorttable_customkey="0">
               		<img src="static/img/bg_no.png" width="12" height="12" alt="Not a Bad Directory" title="Not a Bad Directory">
                {% endif %}</td>
            {% endif %}
            {% if columnName == "Icons" %}
            <td id="col_relayIcons">
                {% if "Fast" in currentColumns %}
                {% if relay.isfast == 1 %}
                    <img src="static/img/status/Fast.png" alt="Fast Server" title="Fast Server">
                {% endif %}
                {% endif %}

                {% if "V2Dir" in currentColumns %}
                {% if relay.isv2dir == 1 %}
                    <img src="static/img/status/Dir.png" alt="Directory Server" title="Directory Server">
                {% endif %}
                {% endif %}
                {% if "Exit" in currentColumns %}
                {% if relay.isexit == 1 %}
                    <img src="static/img/status/Exit.png" alt="Exit Server" title="Exit Server">
                {% endif %}
                {% endif %}
                {% if "Guard" in currentColumns %}
                {% if relay.isguard == 1 %}
                    <img src="static/img/status/Guard.png" alt="Guard Server" title="Guard Server">
                {% endif %}
                {% endif %}
                {% if "Stable" in currentColumns %}
                {% if relay.isstable == 1 %}
                    <img src="static/img/status/Stable.png" alt="Stable Server" title="Stable Server">
                {% endif %}
                {% endif %}
                {% if "Authority" in currentColumns %}
                {% if relay.isauthority == 1 %}
                    <img src="static/img/status/Authority.png" alt="Authority Server" title="Authority Server">
                {% endif %}
                {% endif %}
                {% if "Platform" in currentColumns %}
                {% if "Linux" in relay.descriptorid.platform %}
                    <img src="static/img/os-icons/Linux.png" alt="Linux" title="{{ relay.descriptorid.platform }}">
                {% else %}{% if "XP" in relay.descriptorid.platform %}
                    <img src="static/img/os-icons/WindowsXP.png" alt="WindowsXP" title="{{ relay.descriptorid.platform }}">
                    {% else %}{% if "Windows" in relay.descriptorid.platform and "Server" in relay.descriptorid.platform %}
                    <img src="static/img/os-icons/WindowsServer.png" alt="WindowsServer" title="{{ relay.descriptorid.platform }}">
                {% else %}{% if "Windows" in relay.descriptorid.platform %}
                    <img src="static/img/os-icons/WindowsOther.png" alt="WindowsOther" title="{{ relay.descriptorid.platform }}">
                {% else %}{% if "Darwin" in relay.descriptorid.platform %}
                    <img src="static/img/os-icons/Darwin.png" alt="Darwin" title="{{ relay.descriptorid.platform }}">
                {% else %}{% if "FreeBSD" in relay.descriptorid.platform %}
                    <img src="static/img/os-icons/FreeBSD.png" alt="FreeBSD" title="{{ relay.descriptorid.platform }}">
                {% else %}{% if "NetBSD" in relay.descriptorid.platform %}
                    <img src="static/img/os-icons/NetBSD.png" alt="NetBSD" title="{{ relay.descriptorid.platform }}">
                {% else %}{% if "OpenBSD" in relay.descriptorid.platform %}
                    <img src="static/img/os-icons/OpenBSD.png" alt="OpenBSD" title="{{ relay.descriptorid.platform }}">
                {% else %}{% if "SunOS" in relay.descriptorid.platform %}
                    <img src="static/img/os-icons/SunOS.png" alt="SunOS" title="{{ relay.descriptorid.platform }}">
                {% else %}{% if "IRIX" in relay.descriptorid.platform %}
                    <img src="static/img/os-icons/IRIX64.png" alt="IRIX" title="{{ relay.descriptorid.platform }}">
                {% else %}{% if "Cygwin" in relay.descriptorid.platform %}
                    <img src="static/img/os-icons/Cygwin.png" alt="Cygwin" title="{{ relay.descriptorid.platform }}">
                {% else %}{% if "Dragon" in relay.descriptorid.platform %}
                    <img src="static/img/os-icons/DragonFly.png" alt ="Dragon" title="{{ relay.descriptorid.platform }}">
                {% else %}
                    <img src="static/img/os-icons/NotAvailable.png" alt="NotAvailable" title="Not Available">
                {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
                {% endif %}
            </td>
            {% endif %}
            {% if columnName == "ORPort" %}
            <td id="col_relayOrport">{{ relay.orport }}</td>
            {% endif %}
            {% if columnName == "DirPort" %}
            <td id="col_relayDirport">
            {% if relay.dirport == 0 %}
                None
            {% else %}
                {{ relay.dirport }}
            {% endif %}
            </td>
            {% endif %}
            {% if columnName == "BadExit" %}
            <td id="col_relayBadExit" {% if relay.isbadexit == 1 %} sorttable_customkey="1">
                	<img src="static/img/bg_yes.png" width="12" height="12" alt="Bad Exit" title="Bad Exit">
                {% else %} sorttable_customkey="0">
               		<img src="static/img/bg_no.png" width="12" height="12" alt="Not a Bad Exit" title="Not a Bad Exit">
                {% endif %}
            </td>
            {% endif %}
            {% endfor %}
		</tr>
	{% endfor %}
</table>
{% else %}
<table id="noTableError">
    <tr>
        <td id="boxError"> Sorry, your query options did not return any results. </td>
    </tr>
</table>
{% endif %}


<br />
<br />

<table class="bottomTables1">
<tr>
<td>
<table class="aggStatisticSummary" id="advanceddisplayoptions">
<tr>
    <td class="boxTitle" colspan="1">Custom / Advanced Display Options</td>
</tr>
<tr>
    <td id="aggBox" ><a class="link" href="column-preferences">Column Display Preference</a></td>
</tr>
</table>
</td>
<tr>
<td>
<table class="aggStatisticSummary" id="advancedquery">
<tr>
    <td class="boxTitle" colspan="1">Custom / Advanced Query Options</td>
</tr>
<tr>
    <td>
        <table id="sortRouterListing">
        <tr>
            <td colspan="2">
                <form action="/" method="get">
                    <input type="hidden" name="resetQuery" value="resetQuery" />
                    <input id="sortRouterListing_Button" type="submit" value="Reset the Query to DEFAULT" />
                </form>
            </td>
        </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table id="sortRouterListing">
        <tr>
            <td> Sort Router Listing By: </td>
            <td>
                <form action="/" method="get">
                <select id="sortRouterListing" name="sortListings">
                <option value="nickname" {% if not queryOptions or queryOptions|key:'sortListings' == "nickname" %} 
                                                            SELECTED {% endif %}>Router Name</option>
                <option value="fingerprint" {% if queryOptions and queryOptions|key:'sortListings' == "fingerprint" %} 
                                                            SELECTED {% endif %}>Fingerprint</option>
                <option value="geoip" {% if queryOptions and queryOptions|key:'sortListings' == "geoip" %} 
                                                            SELECTED {% endif %}>Country Code</option>
                <option value="bandwidthobserved" {% if queryOptions and queryOptions|key:'sortListings' == "bandwidthobserved" %} 
                                                            SELECTED {% endif %}>Bandwidth</option>
                <option value="uptime" {% if queryOptions and queryOptions|key:'sortListings' == "uptime" %} 
                                                            SELECTED {% endif %}>Uptime</option>
                <option value="published" {% if queryOptions and queryOptions|key:'sortListings' == "published" %} 
                                                            SELECTED {% endif %}>Last Descriptor Published</option>
                <option value="hostname" {% if queryOptions and queryOptions|key:'sortListings' == "hostname" %} 
                                                            SELECTED {% endif %}>Hostname</option>
                <option value="address" {% if queryOptions and queryOptions|key:'sortListings' == "address" %} 
                                                            SELECTED {% endif %}>IP Address</option>
                <option value="orport" {% if queryOptions and queryOptions|key:'sortListings' == "orport" %} 
                                                            SELECTED {% endif %}>ORPort</option>
                <option value="dirport" {% if queryOptions and queryOptions|key:'sortListings' == "dirport" %} 
                                                            SELECTED {% endif %}>DirPort</option>
                <option value="platform" {% if queryOptions and queryOptions|key:'sortListings' == "platform" %} 
                                                            SELECTED {% endif %}>Platform</option>
                <option value="contact" {% if queryOptions and queryOptions|key:'sortListings' == "contact" %} 
                                                            SELECTED {% endif %}>Contact</option>
                <option value="isauthority" {% if queryOptions and queryOptions|key:'sortListings' == "isauthority" %} 
                                                            SELECTED {% endif %}>Authority</option>
                <option value="isbaddirectory" {% if queryOptions and queryOptions|key:'sortListings' == "isbaddirectory" %} 
                                                            SELECTED {% endif %}>Bad Directory</option>
                <option value="isbadexit" {% if queryOptions and queryOptions|key:'sortListings' == "isbadexit" %} 
                                                            SELECTED {% endif %}>Bad Exit</option>
                <option value="isexit" {% if queryOptions and queryOptions|key:'sortListings' == "isexit" %} 
                                                            SELECTED {% endif %}>Exit</option>
                <option value="isfast" {% if queryOptions and queryOptions|key:'sortListings' == "isfast" %} 
                                                            SELECTED {% endif %}>Fast</option>
                <option value="isguard" {% if queryOptions and queryOptions|key:'sortListings' == "isguard" %} 
                                                            SELECTED {% endif %}>Guard</option>
                <option value="ishibernating" {% if queryOptions and queryOptions|key:'sortListings' == "ishibernating" %} 
                                                            SELECTED {% endif %}>Hibernating</option>
                <option value="isnamed" {% if queryOptions and queryOptions|key:'sortListings' == "isnamed" %} 
                                                            SELECTED {% endif %}>Named</option>
                <option value="isstable" {% if queryOptions and queryOptions|key:'sortListings' == "isstable" %} 
                                                            SELECTED {% endif %}>Stable</option>
                <option value="isrunning" {% if queryOptions and queryOptions|key:'sortListings' == "isrunning" %} 
                                                            SELECTED {% endif %}>Running</option>
                <option value="isvalid" {% if queryOptions and queryOptions|key:'sortListings' == "isvalid" %} 
                                                            SELECTED {% endif %}>Valid</option>
                <option value="isv2dir" {% if queryOptions and queryOptions|key:'sortListings' == "isv2dir" %} 
                                                            SELECTED {% endif %}>Directory</option>
                </select>
            </td>
        </tr>
        <tr>
            <td> Sort Order: </td>
            <td>
                <select id="sortRouterListing" name="sortOrder">
                <option value="ascending" {% if queryOptions and queryOptions|key:'sortOrder' == "ascending" %} 
                                                            SELECTED {% endif %}>Ascending</option>
                <option value="descending" {% if queryOptions and queryOptions|key:'sortOrder' == "descending" %} 
                                                            SELECTED {% endif %}>Descending</option>
                </select>
            </td>
        </tr>
        <tr>
            <td id="sortRouterListing" colspan="2"> Require Flags </td>
        </tr>
        <tr>
            <td> Authority: </td>
            <td>
            <input type="radio" name="isauthority" value="" {% if not queryOptions or queryOptions|key:'isauthority' == "" %}
                                                            CHECKED {% endif %} />Off
            <input type="radio" name="isauthority" value="yes" {% if queryOptions and queryOptions|key:'isauthority' == "yes" %}
                                                            CHECKED {% endif %} />Yes
            <input type="radio" name="isauthority" value="no" {% if queryOptions and queryOptions|key:'isauthority' == "no" %}
                                                            CHECKED {% endif %} />No
            </td>
        </tr>
        <tr>
            <td> BadDirectory: </td>
            <td>
            <input type="radio" name="isbaddirectory" value="" {% if not queryOptions or queryOptions|key:'isbaddirectory' == "" %}
                                                            CHECKED {% endif %} />Off
            <input type="radio" name="isbaddirectory" value="yes" {% if queryOptions and queryOptions|key:'isbaddirectory' == "yes" %}
                                                            CHECKED {% endif %} />Yes
            <input type="radio" name="isbaddirectory" value="no" {% if queryOptions and queryOptions|key:'isbaddirectory' == "no" %}
                                                            CHECKED {% endif %} />No
            </td>
        </tr>
        <tr>
            <td> BadExit: </td>
            <td>
            <input type="radio" name="isbadexit" value="" {% if not queryOptions or queryOptions|key:'isbadexit' == "" %}
                                                            CHECKED {% endif %} />Off
            <input type="radio" name="isbadexit" value="yes" {% if queryOptions and queryOptions|key:'isbadexit' == "yes" %}
                                                            CHECKED {% endif %} />Yes
            <input type="radio" name="isbadexit" value="no" {% if queryOptions and queryOptions|key:'isbadexit' == "no" %}
                                                            CHECKED {% endif %} />No
            </td>
        </tr>
        <tr>
            <td> Exit: </td>
            <td>
            <input type="radio" name="isexit" value="" {% if not queryOptions or queryOptions|key:'isexit' == "" %}
                                                            CHECKED {% endif %} />Off
            <input type="radio" name="isexit" value="yes" {% if queryOptions and queryOptions|key:'isexit' == "yes" %}
                                                            CHECKED {% endif %} />Yes
            <input type="radio" name="isexit" value="no" {% if queryOptions and queryOptions|key:'isexit' == "no" %}
                                                            CHECKED {% endif %} />No
            </td>
        </tr>
        <tr>
            <td> Fast: </td>
            <td>
            <input type="radio" name="isfast" value="" {% if not queryOptions or queryOptions|key:'isfast' == "" %}
                                                            CHECKED {% endif %} />Off
            <input type="radio" name="isfast" value="yes" {% if queryOptions and queryOptions|key:'isfast' == "yes" %}
                                                            CHECKED {% endif %} />Yes
            <input type="radio" name="isfast" value="no" {% if queryOptions and queryOptions|key:'isfast' == "no" %}
                                                            CHECKED {% endif %} />No
            </td>
        </tr>
        <tr>
            <td> Guard: </td>
            <td>
            <input type="radio" name="isguard" value="" {% if not queryOptions or queryOptions|key:'isguard' == "" %}
                                                            CHECKED {% endif %} />Off
            <input type="radio" name="isguard" value="yes" {% if queryOptions and queryOptions|key:'isguard' == "yes" %}
                                                            CHECKED {% endif %} />Yes
            <input type="radio" name="isguard" value="no" {% if queryOptions and queryOptions|key:'isguard' == "no" %}
                                                            CHECKED {% endif %} />No
            </td>
        </tr>
        <tr>
            <td> Hibernating: </td>
            <td>
            <input type="radio" name="ishibernating" value="" {% if not queryOptions or queryOptions|key:'ishibernating' == "" %}
                                                            CHECKED {% endif %} />Off
            <input type="radio" name="ishibernating" value="yes" {% if queryOptions and queryOptions|key:'ishibernating' == "yes" %}
                                                            CHECKED {% endif %} />Yes
            <input type="radio" name="ishibernating" value="no" {% if queryOptions and queryOptions|key:'ishibernating' == "no" %}
                                                            CHECKED {% endif %} />No
            </td>
        </tr>
        <tr>
            <td> Named: </td>
            <td>
            <input type="radio" name="isnamed" value="" {% if not queryOptions or queryOptions|key:'isnamed' == "" %}
                                                            CHECKED {% endif %} />Off
            <input type="radio" name="isnamed" value="yes" {% if queryOptions and queryOptions|key:'isnamed' == "yes" %}
                                                            CHECKED {% endif %} />Yes
            <input type="radio" name="isnamed" value="no" {% if queryOptions and queryOptions|key:'isnamed' == "no" %}
                                                            CHECKED {% endif %} />No
            </td>
        </tr>
        <tr>
            <td> Stable: </td>
            <td>
            <input type="radio" name="isstable" value="" {% if not queryOptions or queryOptions|key:'isstable' == "" %}
                                                            CHECKED {% endif %} />Off
            <input type="radio" name="isstable" value="yes" {% if queryOptions and queryOptions|key:'isstable' == "yes" %}
                                                            CHECKED {% endif %} />Yes
            <input type="radio" name="isstable" value="no" {% if queryOptions and queryOptions|key:'isstable' == "no" %}
                                                            CHECKED {% endif %} />No
            </td>
        </tr>
        <tr>
            <td> Running: </td>
            <td>
            <input type="radio" name="isrunning" value="" {% if not queryOptions or queryOptions|key:'isrunning' == "" %}
                                                            CHECKED {% endif %} />Off
            <input type="radio" name="isrunning" value="yes" {% if queryOptions and queryOptions|key:'isrunning' == "yes" %}
                                                            CHECKED {% endif %} />Yes
            <input type="radio" name="isrunning" value="no" {% if queryOptions and queryOptions|key:'isrunning' == "no" %}
                                                            CHECKED {% endif %} />No
            </td>
        </tr>
        <tr>
            <td> Valid: </td>
            <td>
            <input type="radio" name="isvalid" value="" {% if not queryOptions or queryOptions|key:'isvalid' == "" %}
                                                            CHECKED {% endif %} />Off
            <input type="radio" name="isvalid" value="yes" {% if queryOptions and queryOptions|key:'isvalid' == "yes" %}
                                                            CHECKED {% endif %} />Yes
            <input type="radio" name="isvalid" value="no" {% if queryOptions and queryOptions|key:'isvalid' == "no" %}
                                                            CHECKED {% endif %} />No
            </td>
        </tr>
        <tr>
            <td> V2Dir: </td>
            <td>
            <input type="radio" name="isv2dir" value="" {% if not queryOptions or queryOptions|key:'isv2dir' == "" %}
                                                            CHECKED {% endif %} />Off
            <input type="radio" name="isv2dir" value="yes" {% if queryOptions and queryOptions|key:'isv2dir' == "yes" %}
                                                            CHECKED {% endif %} />Yes
            <input type="radio" name="isv2dir" value="no" {% if queryOptions and queryOptions|key:'isv2dir' == "no" %}
                                                            CHECKED {% endif %} />No
            </td>
        </tr>
        </table>
</tr>
<tr>
    <td>
        <table id="sortRouterListing">
        <tr>
            <td id="sortRouterListing" colspan="2"> Advanced Search </td>
        </tr>
        <tr>
            <td>
            <select id="sortRouterListing" name="criteria">
            <option value ="fingerprint" {% if not queryOptions or queryOptions|key:'criteria' == "fingerprint" %}
                                                            SELECTED {% endif %}>Fingerprint</option>
            <option value ="nickname" {% if queryOptions and queryOptions|key:'criteria' == "nickname" %}
                                                            SELECTED {% endif %}>Router Name</option>
            <option value ="geoip" {% if queryOptions and queryOptions|key:'criteria' == "geoip" %}
                                                            SELECTED {% endif %}>Country Code</option>
            <option value ="bandwidthobserved" {% if queryOptions and queryOptions|key:'criteria' == "bandwidthobserved" %}
                                                            SELECTED {% endif %}>Bandwidth (kb/s)</option>
            <option value ="uptime" {% if queryOptions and queryOptions|key:'criteria' == "uptime" %}
                                                            SELECTED {% endif %}>Uptime (days)</option>
            <option value ="published" {% if queryOptions and queryOptions|key:'criteria' == "published" %}
                                                            SELECTED {% endif %}>Last Descriptor Published</option>
            <option value ="address" {% if queryOptions and queryOptions|key:'criteria' == "address" %}
                                                            SELECTED {% endif %}>IP Address</option>
            <option value ="hostname" {% if queryOptions and queryOptions|key:'criteria' == "hostname" %}
                                                            SELECTED {% endif %}>Hostname</option>
            <option value ="orport" {% if queryOptions and queryOptions|key:'criteria' == "orport" %}
                                                            SELECTED {% endif %}>Onion Router Port</option>
            <option value ="dirport" {% if queryOptions and queryOptions|key:'criteria' == "dirport" %}
                                                            SELECTED {% endif %}>Directory Sever Port</option>
            <option value ="platform" {% if queryOptions and queryOptions|key:'criteria' == "platform" %}
                                                            SELECTED {% endif %}>Platform</option>
            </select>
            </td>
            <td>
            <select id="sortRouterListing" name="boolLogic">
            <option value ="equals" {% if not queryOptions or queryOptions|key:'boolLogic' == "equals" %}
                                                            SELECTED {% endif %}>Equals</option>
            <option value ="contains" {% if queryOptions and queryOptions|key:'boolLogic' == "contains" %}
                                                            SELECTED {% endif %}>Contains</option>
            <option value ="less" {% if queryOptions and queryOptions|key:'boolLogic' == "less" %}
                                                            SELECTED {% endif %}>Is Less Than</option>
            <option value ="greater" {% if queryOptions and queryOptions|key:'boolLogic' == "greater" %}
                                                            SELECTED {% endif %}>Is Greater Than</option>
            </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
            <input id="sortRouterListing" type="text" name="searchValue" {% if queryOptions and queryOptions|key:'searchValue' %}
                                                                    value="{{queryOptions|key:'searchValue'}}" 
                                                                    {% endif %}/>
            </td>
        </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table id="sortRouterListing">
        <tr>
            <td colspan="2">
                <input id="sortRouterListing_Button" type="submit" value="Apply Options" />
            </td>
        </tr>
        </table>
        </form>
    </td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<table class="aggStatisticSummary" id="networkstatisticsummary">
<tr>
    <td class="boxTitle" colspan="3">Aggregate Network Statistic Summary |
    <a class="link" href="network-statistic-graphs">Graphs / Details</a>
    </td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Total average bandwidth of displayed routers [KB/s]:</td>
    <td id="aggBox">{{ counts.bandwidthavg|kilobytes_ps }}</td>
    <td id="aggBox">{{ counts.bandwidthavg|percent:total_counts.bandwidthavg }}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Total burst bandwidth of displayed routers [KB/s]:</td>
    <td id="aggBox">{{ counts.bandwidthburst|kilobytes_ps }}</td>
    <td id="aggBox">{{ counts.bandwidthburst|percent:total_counts.bandwidthburst }}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Total observed bandwidth of displayed routers [KB/s]:</td>
    <td id="aggBox">{{ counts.bandwidthobserved|kilobytes_ps }}</td>
    <td id="aggBox">{{ counts.bandwidthobserved|percent:total_counts.bandwidthobserved }}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Total number of Routers:</td>
    <td id="aggBox">{{ num_routers }}</td>
    <td id="aggBox">{{ num_routers|percent:num_routers }}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Routers in current query result set:</td>
    <td id="aggBox">{{ in_query }}</td>
    <td id="aggBox">{{ in_query|percent:num_routers }}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Total number of 'authority' routers:</td>
    <td id="aggBox">{{ counts.isauthority }}</td>
    <td id="aggBox">{{ counts.isauthority|percent:num_routers }}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Total number of 'bad directory' routers:</td>
    <td id="aggBox">{{ counts.isbaddirectory }}</td>
    <td id="aggBox">{{ counts.isbaddirectory|percent:num_routers }}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Total number of 'bad exit' routers:</td>
    <td id="aggBox">{{ counts.isbadexit }}</td>
    <td id="aggBox">{{ counts.isbadexit|percent:num_routers }}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Total number of 'exit' routers</td>
    <td id="aggBox">{{ counts.isexit }}</td>
    <td id="aggBox">{{ counts.isexit|percent:num_routers }}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Total number of 'fast' routers</td>
    <td id="aggBox">{{ counts.isfast }}</td>
    <td id="aggBox">{{ counts.isfast|percent:num_routers }}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Total number of 'guard' routers:</td>
    <td id="aggBox">{{ counts.isguard }}</td>
    <td id="aggBox">{{ counts.isguard|percent:num_routers }}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Total number of 'named' routers:</td>
    <td id="aggBox">{{ counts.isnamed }}</td>
    <td id="aggBox">{{ counts.isnamed|percent:num_routers }}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Total number of 'stable' routers</td>
    <td id="aggBox">{{ counts.isstable }}</td>
    <td id="aggBox">{{ counts.isstable|percent:num_routers }}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Total number of 'running' routers:</td>
    <td id="aggBox">{{ counts.isrunning }}</td>
    <td id="aggBox">{{ counts.isrunning|percent:num_routers }}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Total number of 'valid' routers:</td>
    <td id="aggBox">{{ counts.isvalid }}</td>
    <td id="aggBox">{{ counts.isvalid|percent:num_routers }}</td>
</tr>
<tr id="row_aggStatisticSummary">
	<td id="aggBox">Total number of 'v2dir' routers:</td>
    <td id="aggBox">{{ counts.isv2dir }}</td>
    <td id="aggBox">{{ counts.isv2dir|percent:num_routers }}</td>
</tr>
</table>
</td>
</tr>
</table>

<br />
{% endgapless %}
{% endblock %}
