{% extends "base.html" %}

{% block mainCSS %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css"></link>
{% endblock %}

{% block mainTitle %} TorStatus -- Active Relays {% endblock %}

{% block headerTitle %} TorStatus {% endblock %}

<br />

{% block moreLinks %}
<br /><br />
<form>
    <a class="link" id="csv" href="/tor-query-export.csv">Download CSV Search File</a>
{% endblock %}

{% block pageTitle %} Active Relays {% endblock %}

{% block mainPage %}
<br />

{% load index_filters %}
{% spaceless %}


{% for relay in paged_relays.object_list %}
    {% if forloop.counter == 1 %}
        {{relay.nickname}}
    {% endif %}
{% endfor %}


{% if paged_relays.object_list %}
<table>
    <tr>
        {% if paged_relays.has_previous %}
        <td id="paginatorLinks"><a class="pageLinks" href="{% if gets %}{{ gets }}&amp;{% else %}?{% endif %}page={{ paged_relays.previous_page_number }}">⇽</a></td>
        {% endif %}

        {% if paged_relays.number > 2 %}
        <td id="paginatorLinks"><a class="pageLinks" href="{% if gets %}{{ gets }}&amp;{% else %}?{% endif %}page=1">1</a></td>
        {% endif %}

        {% if paged_relays.number > 3 %}
        <td id="paginatorText">...</td>
        {% endif %}

        {% if paged_relays.has_previous %}
        <td id="paginatorLinks"><a class="pageLinks" href="{% if gets %}{{ gets }}&amp;{% else %}?{% endif %}page={{ paged_relays.previous_page_number }}">{{ paged_relays.previous_page_number }}</a></td>
        {% endif %}

        <td id="paginatorText">{{ paged_relays.number }}</td>

        {% if paged_relays.has_next %}
        <td id="paginatorLinks"><a class="pageLinks" href="{% if gets %}{{ gets }}&amp;{% else %}?{% endif %}page={{ paged_relays.next_page_number }}">{{ paged_relays.next_page_number }}</a></td>
        {% endif %}

        {% if paged_relays.paginator.num_pages|subtract:paged_relays.number >= 3 %}
        <td id="paginatorText">...</td>
        {% endif %}

        {% if paged_relays.paginator.num_pages|subtract:paged_relays.number >= 2 %}
        <td id="paginatorLinks"><a class="pageLinks" href="{% if gets %}{{ gets }}&amp;{% else %}?{% endif %}page={{ paged_relays.paginator.num_pages }}">{{ paged_relays.paginator.num_pages }}</a></td>
        {% endif %}

        {% if paged_relays.has_next %}
        <td id="paginatorLinks"><a class="pageLinks" href="{% if gets %}{{ gets }}&amp;{% else %}?{% endif %}page={{ paged_relays.next_page_number }}">⇾</a></td>
        {% endif %}
</table>

<table class="relayTable">
	<tr>
	{% for column_name in current_columns %}
	    {% if column_name == "Icons" %}
        {% if "DirPort" in current_columns or "Exit" in current_columns or "Authority" in current_columns or "Fast" in current_columns or "Guard" in current_columns or "Directory" in current_columns or "Platform" in current_columns or "Stable" in current_columns %}
		<th class="" id="relayHeaderInv">Icons</th>
		{% endif %}
		{% else %}
		{% if column_name not in not_columns %}
	    <th class="relayHeader hoverable" {% if column_name == "Router Name" %} 
	                                            id="routerName" 
	                                      {% else %}
	                                      {% if column_name == "LastDescriptorPublished" %}
	                                            id="lastDescPub"
	                                      {% else %} 
	                                      {% if column_name == "BadDir" %}
	                                            id="badDir"
	                                      {% endif %}
	                                      {% endif %}
	                                      {% endif %}
	                                      >
	        {% if column_name == "Country Code" %} &nbsp; {% else %} {{column_name}} {% endif %}</th>
	    {% endif %}
	    {% endif %}
    {% endfor %}
	</tr>
	
	<!-- == BETA == Displaying the relay rows == BETA == -->
	
	{% for relay in paged_relays.object_list %}
	    {% if "BadExit" in current_columns %}
		<tr {% if relay|filter_key:'BadExit' %} class="relayBadExit" {% else %} class="relay" {% endif %}>
		{% else %}
		<tr class="relay">
		{% endif %}
		    {% for column_name in current_columns %}
		    {% if column_name == "Country Code" %}
            <td id="col_relayName"><a href="http://www.openstreetmap.org/?mlon={{ relay|filter_key:'Longitude' }}&mlat={{ relay|filter_key:'Latitude' }}&zoom=6"><img src="/static/img/flags/{{ relay|filter_key:'Country'|lower }}.png" alt={{ relay|filter_key:'Country' }} title="{{ relay|filter_key:'Country' }}: {{ relay|filter_key:'Latitude' }}, {{ relay|filter_key:'Longitude' }}" border=0></a></td>
			{% else %}
			{% if column_name == "Router Name" %}
            <td id="col_relayName">
                {% if "Named" in current_columns %}
                {% if relay.isnamed == 1 %}
                    <b><a class="linkDetails" href="/details/{{ relay|filter_key:'Fingerprint' }}" target="_BLANK">{{ relay|field_key:column_name }}</a></b>
                    {% else %}
                    <a class="linkDetails" href="/details/{{ relay|filter_key:'Fingerprint' }}" target="_BLANK">{{ relay|field_key:column_name }}</a>
                {% endif %}
                {% else %}
                    <a class="linkDetails" href="/details/{{ relay|filter_key:'Fingerprint' }}" target="_BLANK">{{ relay|field_key:column_name }}</a>
                {% endif %}
            </td>
            {% else %}
            {% if column_name == "IP" %}
            <td>[<a id="relayAddress" href="/details/{{ relay|filter_key:column_name }}/whois">{{ relay|field_key:column_name }}</a>]</td>
            {% endif %}
            {% if column_name == "BadDir" %}
            <td id="col_relayBadDir" {% if relay|filter_key:column_name %}>
                	<img src="/static/img/bg_yes.png" width="12" height="12" alt="Bad Directory" title="Bad Directory">
                {% else %}>
               		<img src="/static/img/bg_no.png" width="12" height="12" alt="Not a Bad Directory" title="Not a Bad Directory">
                {% endif %}</td>
            {% else %}
            {% if column_name == "Icons" %}
            <td id="col_relayIcons">
                {% for icon in icons_list %}
                    {% if icon in current_columns %}
                        {% if icon == "Platform" %}
                            {% for os in os_list %}
                                {% if os in relay|field_key:icon %}
                                    {% if os == "Windows" and "Server" in relay|field_key:icon %}
                                        <img src="/static/img/os-icons/WindowsServer.png" alt="WindowsServer" title="{{ relay|filter_key:icon }}">
                                    {% else %}
                                        <img src="/static/img/os-icons/{{os}}.png" alt="{{os}}" title="{{ relay|filter_key:icon }}">
                                    {% endif %}
                                    {% endfor %}
                                {% else %}
                                {% if forloop.counter == os_list|length %}
                                    <img src="/static/img/os-icons/NotAvailable.png" alt="NotAvailable" title="Not Available">
                                {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        {% if relay|field_key:icon %}
                            <img src="/static/img/status/{{icon}}.png" alt="{{icon}}" title="{{icon}}">
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </td>
            {% else %}
            <td id="col_relay{{current_column}}">
                {% if column_name == "BadExit" %}
                    {% if relay|field_key:current_column %}
                        <img src="/static/img/bg_yes.png" width="12" height="12" alt="Bad Exit" title="Bad Exit">
                    {% else %}
                        <img src="/static/img/bg_no.png" width="12" height="12" alt="Not a Bad Exit" title="Not a Bad Exit">
                    {% endif %}
                {% else %}
                    {{ relay|field_key:column_name }}
                {% endif %}
            </td>
            <!-- add KB/s, d     for the corresponding cases -->

            {% endfor %}
		</tr>
	{% endfor %}
</table>

{% else %}
<table id="noTableError">
    <tr>
        <td id="boxError"> Sorry, your query options did not return any results. </td>
    </tr>
</table>
{% endif %}
{% endspaceless %}
{% endblock %}
