{% extends "base.html" %}
{% spaceless %}
{% block mainCSS %}
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"></link>
{% endblock %}

{% block auxCSS %}
<link rel="stylesheet" type="text/css" href="../../static/css/nodequery.css"></link>
{% endblock %}

{% block mainTitle %} TorStatus -- Exit Node Query {% endblock %}

{% block headerTitle %} TorStatus {% endblock %}

{% block pageTitle %} Tor Exit Node Query {% endblock %}

{% block mainPage %}

<table class="searchQuery">
<tr>
    <td id="searchQInfo"> You can use this page to determine if an IP address is an active Tor relay, and optionally see if that Tor relay's Exit Policy would permit it to exit a certain destination IP address and port.</td>
</tr>
{% if source == "" %}
    <td id="searchQError">You must enter a Query IP, at minimum.</td>
{% else %}
    {% if source_valid and dest_ip and dest_ip_valid and not dest_port_valid %}
        <tr><td id="searchQError">The destination port you supplied, "{{ dest_port }}", is not a valid port.</td></tr>
    {% endif %}
    {% if source_valid and dest_ip and not dest_ip_valid %}
        <tr><td id="searchQError">The destination IP address you supplied, "{{ dest_ip }}", is not a valid IP address.</td></tr>
    {% endif %}
    {% if source_valid and dest_port and not dest_ip %}
    <tr><td id="searchQError">You supplied a destination port, "{{ dest_port }}", but you did not supply a destination IP address.<br>The exit policy information of any matching relay(s) was not parsed.</td></tr>
    {% endif %}
    {% if not source_valid %}
    <tr><td id="searchQError">The Query IP address you supplied, "{{ source }}", is not a valid IP</td></tr>
    {% endif %}
{% endif %}
<tr>
    <td id="searchQMessage">
        {% if is_router %}
            The IP address you entered, {{ source }}, matches one or more active Tor servers:
    </td></tr>
    <tr><td>
            {% for nickname, fingerprint, exit_possible in relays %}
                Server name: <a href="/details/{{ fingerprint }}">{{ nickname }}</a>
                {% if dest_ip_valid and dest_port_valid %}
                    {% if exit_possible %}
                        WOULD allow exiting to {{ dest_ip }}:{{ dest_port }}
                    {% else %}
                        would NOT allow exiting to {{ dest_ip }}:{{ dest_port }}
                    {% endif %}
                {% endif %}
                <br>
            {% endfor %}
        </td></tr>
        {% else %}
            {% if source_valid %}
                <tr><td id="searchQError">
                The IP address you entered, "{{ source }}", does not match any active Tor servers.
                </td>
            {% endif %}
        {% endif %}
</tr>
<tr>
    <td>
        <table class="ipSearch">
            <form action="" method="get">
            <tr>
                <td id="ipSearch_AddressQ">IP Address to Query:</td>
            </tr>
            <tr>
                <td>
                    <input id="ipSearch_AddressQ" type="text" name="queryAddress" />
                </td>
            </tr>
            <tr>
                <td id="ipSearch_DestIP">Destination IP Address:<br><small>(optional)</small></td>
            </tr>
            <tr>
                <td>
                    <input id="ipSearch_DestIP" type="text" name="destinationAddress" />
                </td>
            </tr>
            <tr>
                <td id="ipSearch_DestPort">Destination Port:<br><small>(optional)</small></td>
            </tr>
            <tr>
                <td>
                    <input id="ipSearch_DestPort" type="text" name="destinationPort" />
                </td>
            </tr>
            <tr>
                <td id="ipSearch_SUBMIT">
                    <input type="submit" id="ipSearch_SUBMIT" value="Submit Query" />
                </td>
            </tr>
            </form>
        </table>
    </td>
</tr>
</table>
{% endblock %}
{% endspaceless %}
