{% extends "base.html" %}

{% block mainCSS %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css"></link>
{% endblock %}

{% block auxCSS %}
<link rel="stylesheet" type="text/css" href="/static/css/splash.css"></link>
{% endblock %}

{% block mainTitle %} TorStatus {% endblock %}

{% block headerTitle %} TorStatus {% endblock %}

{% block mainPage %}
{% load index_filters %}
<table class="mainTable">
<tr>
    <td>
        <img src="/network-statistic-graphs/networktotalbw.png" alt="Network Total Bandwidth" title="Network Total Bandwidth">
    </td>
</tr>
<tr>
    <td>
        <table id="searchBox">
        <tr>
            <td>
            <form action="/unpaged" method="get">
            <input id="searchBox" type="text" name="searchValue" {% if queryOptions and queryOptions|key:'searchValue' %}
                                                                    value="{{queryOptions|key:'searchValue'}}"
                                                                    {% endif %}/>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
        <!-- <input id="searchBox_Button" type="submit" value="Apply Options" /> -->
            <input type="submit" value="Apply Options" id="btn" onmouseover="this.className='
            </td>
        </tr>
        </table>
        </form>
    </td>
</tr>
</table>
{% endblock %}
