{% extends "base.html" %}

{% block auxCSS %}
<link rel="stylesheet" type="text/css" href="/static/css/splash.css"></link>
{% endblock %}

{% block mainTitle %} TorStatus {% endblock %}

{% block headerTitle %} TorStatus {% endblock %}

{% block mainPage %}
{% load index_filters %}

{% block noPageTitle %} {% endblock %}

<body onLoad="document.forms.searchForm.search.focus()">
<table class="mainTable">
<tr>
    <td>
        <img src="/network-statistic-graphs/networktotalbw.png" alt="Network Total Bandwidth" title="Network Total Bandwidth">
    </td>
</tr>
<tr>
    <td>
        <table id="searchTable">
        <tr>
            <td colspan="2">
            <form name="searchForm" action="/index" method="get">
            <input id="searchBox" type="text" name="search" placeholder="(nickname, fingerprint, IP)"/>
            </td>
        </tr>
        <tr>
            <table id="searchTable">
            <tr>
            <td align="center">
                <input name="searchButton" type="submit" value="Search" id="searchButton">
            </td>
            </form>
            <td align="center">
                <a id="advancedSearchButton" href="/advanced-search">
                <input type="submit" value="Advanced Search" id="searchButton"/>
                </a>
            </td>
            </tr>
            </table>
        </tr>
        </table>
    </td>
</tr>
</table>
{% endblock %}
