{% extends "base.html" %}

{% block mainCSS %}
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"></link>
{% endblock %}

{% block auxCSS %}
<link rel="stylesheet" type="text/css" href="../../static/css/statisticgraphs.css"></link>
{% endblock %}

{% block mainTitle %} TorStatus Network Detail {% endblock %}

{% block headerTitle %} TorStatus {% endblock %}

{% block mainPage %}

<table class="aggNetworkStatistic">
<tr>
    <td class="boxTitle" colspan="2">Aggregate Network Statistic Graphs / Details</td>
</tr>
<tr>
    <td id="graphEntry" colspan="2"><img src="../../static/img/graph_old.png" width=100% height="300px" alt="GRAPH 1"  title="GRAPH 1"></td>
</tr>
<tr>
    <td id="graphEntry" colspan="2"><img src="../../static/img/graph_old.png" width=100% height="300px" alt="GRAPH 1"  title="GRAPH 1"></td>
</tr>
<tr>
    <td id="graphEntry" colspan="2"><img src="../../static/img/graph_old.png" width=100% height="300px" alt="GRAPH 1"  title="GRAPH 1"></td>
</tr>
<tr>   
    <td id="graphEntry"><img src="../../static/img/graph_old.png" width=100% height="300px" alt="GRAPH 1"  title="GRAPH 1"></td>
    <td id="graphEntry"><img src="../../static/img/graph_old.png" width=100% height="300px" alt="GRAPH 1"  title="GRAPH 1"></td>
</tr>
<tr>
    <td id="graphEntry" colspan="2"><img src="aggregatesummary.png" width=100% height="300px" alt="Aggregate Summary"  title="Aggregate Summary"></td>  
</tr>
</table>

{% endblock %}
