{% extends "base.html" %}

{% block mainCSS %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css"></link>
{% endblock %}

{% block auxCSS %}
<link rel="stylesheet" type="text/css" href="/static/css/statisticgraphs.css"></link>
{% endblock %}

{% block mainTitle %} - TorStatus - Network Statistic Graphs {% endblock %}

{% block headerTitle %} TorStatus {% endblock %}

{% block pageTitle %} Network Statistic Graphs {% endblock %}

{% block mainPage %}

<table class="aggNetworkStatistic">
<tr>
    <td id="graphEntry" colspan="2"><img src="bycountrycode.png" alt="Routers by Country Code"  title="Routers by Country Code"></td>
</tr>
<tr>
    <td id="graphEntry" colspan="2"><img src="exitbycountrycode.png" alt="Exit Routers by Country Code"  title="Exit Routers by Country Code"></td>
</tr>
<tr>
    <td id="graphEntry" colspan="2"><img src="bytimerunning.png" alt="Routers by Time Running" title="Routers by Time Running"></td>
</tr>
<tr>   
    <td id="graphEntry"><img src="byobservedbandwidth.png" alt="Routers by Observed Bandwidth" title="Routers by Observed Bandwidth"></td>
    <td id="graphEntry"><img src="byplatform.png" alt="Routers by Platform" title="Routers by Platform"></td>
</tr>
<tr>
    <td id="graphEntry" colspan="2"><img src="aggregatesummary.png" alt="Aggregate Summary"  title="Aggregate Summary"></td>  
</tr>
</table>

{% endblock %}
