<html>

<head>
 
<link rel="stylesheet" type="text/css" href="static/css/style.css" />
{# {{ MEDIA_URL }} #}

<!--
<style type="text/css">
body
{
background-color:#d0e4fe;
}
h1
{
color:orange;
text-align:center;
}
p
{
font-family:"Times New Roman";
font-size:20px;
}
</style>
-->
</head>

<body>
<h1> First New TorStatus Table? </h1>

{% if relay_exit_list %}
	<table border="1">
	<tr>
		<th> Router Name </th>
		<th> Bandwidth </th>
		<th> Uptime </th>
		<th> Hostname </th>
		<th> orPort </th>
		<th> dsPort </th>
		<th> exit </th>
	</tr>
	{% for relay in relay_exit_list %}
		<tr>
			<td><img src="flags/{{relay.country}}.gif"> {{relay.name}} </td>
			<td> {{relay.bandwidth}} kb/s</td>
			<td> {{relay.uptime}}  d</td>
			<td> {{relay.hostname}} </td>
			<td> {{relay.orPort}} </td>
			<td> {{relay.dsPort}} </td>
			<td> {{relay.exit}} </td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	<p> NO LIST !
{% endif %}
</body>

</html>

