/* Table -----------------------------------------------*/
table.advSearchTable {
    width: auto;
    padding: 10px;
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
}

table.flags {
    margin-left: auto;
    margin-right: auto;
}

/* END Table ------------------------------------------ */

/* Table Columns -------------------------------------- */
td#advSearchToolText {
    font-size: 100%;
    color: #050;
    text-align: center;
    border-color: #61a #315 #315 #61a;
    white-space:nowrap;
}

/* END Table Columns ---------------------------------- */

/* Input, Select, Option ------------------------------ */
input#advSearchBox {
    font-size: 1.0625em;
    border: 1px solid;
    border-color: #61a #315 #315 #61a;
	width: 400px;
}

input#advSearchBox:hover {
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	width: 400px;
}

input#advSearchBox:focus {
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	width: 400px;
}

select#advSearchButton {
    font-size: 1.0625em;
    color: #050;
	background-color: #fed;
    border: 1px solid;
    border-color: #61a #315 #315 #61a;
}

input#searchButton {
    font-weight: bold;
    font-size: 1.375em;
    width: 300px;
}


/* END Input, Select, Option -------------------------- */
