td {
    font-size: 100%;
}

td#advSearchToolText {
    color: #050;
    font-size: 0.438em;
    text-align: center;
    border-color: #61a #315 #315 #61a;
    white-space:nowrap;
    padding-right: 15px;
    padding-left: 15px;
}

table.advSearchTable {
    font-size: 30px;
    width: auto;
    padding: 10px;
    border-spacing: 10px;
    border: 1px bold;
    margin-left: auto;
    margin-right: auto;
}

input#advSearchBox {
    font: 0.438em; 
    font-size: 0.438em;
    border: 1px solid; 
    border-color: #61a #315 #315 #61a;
	width: 400px;
}

input#advSearchBox:hover {
    font: 0.438em; 
    font-size: 0.438em;
    border: 1px solid; 
    border-color: #696 #363 #363 #696;
	width: 400px;
}

input#advSearchBox:focus {
    font: 0.438em; 
    font-size: 0.438em;
    border: 1px solid; 
    border-color: #696 #363 #363 #696; 
	width: 400px;
}

select#advSearchButton { 
    color: #050; 
    font: bold; 
    font-size: 0.438em;
	background-color: #fed; 
    border: 1px solid; 
    border-color: #61a #315 #315 #61a;
} 
