table.displayPref {
    font-size: 20px;
    width: 325px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1;
    border-collapse: collapse;
   	white-space:nowrap;
}

td.boxTitle {
	font: bold 0.625em; /*10pt Arial;*/
	background-color: #7BD4F7;
	text-align: center;
	position: center;
	color: #000000; 
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	white-space:nowrap;
}

td#selectForm {
    border-style: none;
    border-width: 1px;
	text-align: center;
	position: center;
	color: #000000; 
	white-space:nowrap;
}

p#selectForm_text {
    font-size: 10px;
}

input#removeList {
    width: 200px;
}

input#addList {
    width: 200px;
}

select#selectForm_removeColumn {
    background-color: #95E4AF;
    width: 200px;
}

select#selectForm_addColumn {
    background-color: #95E4AF;
    width: 200px;
}

input#upButton {
    width: 70px;
}

input#downButton {
    width: 70px;
}

option#notMovable {
    font-style:italic; 
    color:red;
}
