/* Table -----------------------------------------------*/
table.detailsTable {
    width: 325px;
    border-bottom: 1px solid;
    border-color: #61a #315 #315 #61a;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
    border-collapse: collapse;
    white-space:nowrap;
}

table.mainDetails {
    width: auto;
    padding: 10px;
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
}

table.details {
    width: auto;
    border-bottom: 1px solid;
    border-color: #61a #315 #315 #61a;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
    border-collapse: collapse;
   	white-space: nowrap;
}


/* END Table ------------------------------------------ */

/* Table Columns -------------------------------------- */
td#details_boxTitle {
    color: #050;
    background-color: white;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #61a #315 #315 #61a;
    white-space:nowrap;
    font-weight: bold;
    font-size: 1em;
}

td#detailBox {
	color: #000000;
    white-space: nowrap;
}

td#detailsLabel {
    font-size: 0.75em;
    text-align: right;
    color: #000000;
    white-space:nowrap;
}

td#detailsInfo {
    font-size: 0.75em;
    text-align: left;
    color: #000000;
    white-space:nowrap;
}

td#iconNo {
    background-image: url(../img/bg_no.png);
    background-repeat: no-repeat;
	background-position: center;
	width: 40px;
}

td#iconYes {
    background-image: url(../img/bg_yes.png);
    background-repeat: no-repeat;
	background-position: center;
	width: 40px;
}


/* END Table Columns ---------------------------------- */

/* Other ---------------------------------------------- */
pre#key {
    font-size: 1.25em;
}


/* END Other ------------------------------------------ */
