/* Table -----------------------------------------------*/
table.displayPref {
    font-size: 20px;
    width: 325px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #61a #315 #315 #61a;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
   	white-space:nowrap;
}

table.resetButton_Table {
    margin-left: auto;
    margin-right: auto;
}

/* END Table ------------------------------------------ */

/* Table Columns -------------------------------------- */
td.boxTitle {
	background-color: #7BD4F7;
	text-align: center;
	color: #000000;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	white-space:nowrap;
}

td#selectForm {
    font-size: 0.625em;
	text-align: center;
	white-space:nowrap;
}

td#returnLink {
    width: 200px;
    color: #050;
	background-color:#fed;
    border: 1px solid;
    border-color: #61a #315 #315 #61a;
	opacity: 0.5;
}

td#returnLink:focus {
    width: 200px;
    color: #050;
	background-color: #fed;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	opacity: 1;
	cursor: pointer;
}

td#returnLink:hover {
    width: 200px;
    color: #050;
	background-color: #fed;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	opacity: 1;
	cursor: pointer;
}

td#label {
    font-size: 0.750em;
    color: #050;
    text-align: center;
    border-color: #61a #315 #315 #61a;
    white-space:nowrap;
}

td#debug {
    font-size: 0.750em;
    color: red;
    text-align: center;
    white-space:nowrap;
}

/* END Table Columns ---------------------------------- */

/* Input, Select, Option ------------------------------ */
input#removeList {
    width: 200px;
    color: #050;
	background-color:#fed;
    border: 1px solid;
    border-color: #61a #315 #315 #61a;
	opacity: 0.5;
}

input#removeList:focus {
    width: 200px;
    color: #050;
	background-color: #fed;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	opacity: 1;
	cursor: pointer;
}

input#removeList:hover {
    width: 200px;
    color: #050;
	background-color: #fed;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	opacity: 1;
	cursor: pointer;
}

input#addList {
    width: 200px;
    color: #050;
	background-color:#fed;
    border: 1px solid;
    border-color: #61a #315 #315 #61a;
	opacity: 0.5;
}

input#addList:focus {
    width: 200px;
    color: #050;
	background-color: #fed;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	opacity: 1;
	cursor: pointer;
}

input#addList:hover {
    width: 200px;
    color: #050;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	opacity: 1;
	cursor: pointer;
}

input#ppinput {
    font-size: 0.750em;
    border: 1px solid;
    border-color: #61a #315 #315 #61a;
	width: 100%;
}

input#ppinput:hover {
    border: 1px solid;
    border-color: #696 #363 #363 #696;
}

input#ppinput:focus {
    border: 1px solid;
    border-color: #696 #363 #363 #696;
}

input#submitButton {
    color: #050;
    font-weight: bold;
    font-size: 0.750em;
	background-color: #fed;
    border: 1px solid;
    border-color: #61a #315 #315 #61a;
	opacity: 0.4;
}

input#submitButton:hover {
    color: #050;
	background-color: #fed;
    border-color: #696 #363 #363 #696;
	opacity: 1;
	cursor: pointer;
}

input#submitButton:focus {
    color: #050;
	background-color: #fed;
    border-color: #696 #363 #363 #696;
	opacity: 1;
	cursor: pointer;
}

select#selectForm_removeColumn {
    width: 200px;
    background-color: white;
    border: 0px solid;
    border-color: #61a #315 #315 #61a;
}

select#selectForm_removeColumn:focus {
    width: 200px;
    background-color: white;
    border: 0px solid;
    border-color: #61a #315 #315 #61a;
}

select#selectForm_removeColumn:hover {
    width: 200px;
    background-color: white;
    border: 0px solid;
    border-color: #61a #315 #315 #61a;
}


select#selectForm_addColumn {
    width: 200px;
    background-color: white;
    border: 0px solid;
    border-color: #61a #315 #315 #61a;
}

input#upButton {
    width: 70px;
    color: #050;
	background-color:#fed;
    border: 1px solid;
    border-color: #61a #315 #315 #61a;
	opacity: 0.5;
}

input#upButton:focus {
    width: 70px;
    color: #050;
	background-color: #fed;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	opacity: 1;
	cursor: pointer;
}

input#upButton:hover {
    width: 70px;
    color: #050;
	background-color: #fed;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	opacity: 1;
	cursor: pointer;
}

input#downButton {
    width: 70px;
    color: #050;
	background-color:#fed;
    border: 1px solid;
    border-color: #61a #315 #315 #61a;
	opacity: 0.5;
}

input#downButton:focus {
    width: 70px;
    color: #050;
	background-color: #fed;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	opacity: 1;
	cursor: pointer;
}

input#downButton:hover {
    width: 70px;
    color: #050;
	background-color: #fed;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	opacity: 1;
	cursor: pointer;
}

option#notMovable {
    font-style:italic;
    color:red;
}

input#button {
    width: 200px;
    color: #050;
	background-color:#fed;
    border: 1px solid;
    border-color: #61a #315 #315 #61a;
	opacity: 0.5;
}

input#button:focus {
    width: 200px;
    color: #050;
	background-color: #fed;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	opacity: 1;
	cursor: pointer;
}

input#button:hover {
    width: 200px;
    color: #050;
	background-color: #fed;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	opacity: 1;
	cursor: pointer;
}

/* END Input, Select, Option -------------------------- */

/* Other ---------------------------------------------- */
p#selectForm_text {
    font-size: 10px;
}

a#returnButtonLink {
    text-decoration: none;
}

a#returnButtonLink:visited {
    text-decoration: none;
}

/* END Other ------------------------------------------ */
