/* Table -----------------------------------------------*/
table.searchQuery {
    margin-left: auto;
    margin-right: auto;
	border-width: 1px;
	border-spacing: 15px;
	border-style: none;
	border-collapse: separate;
	background-color: white;
	padding: 5px;
    text-align: center;
}

table.ipSearch {
    font-size: 18px;
    width:auto;
    border-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
}

/* END Table ------------------------------------------ */

/* Table Columns -------------------------------------- */
td#searchQMessage {
    color: green;
}

td#searchQInfo {
    text-align: center;
}

td#searchQError {
    text-align: center;
    color: red;
}

/* END Table Columns ---------------------------------- */

/* Input ---------------------------------------------- */
input#ipSearch_AddressQ {
    font: 0.938em 'trebuchet ms',helvetica,sans-serif;
    border: 1px solid;
    border-color: #61a #315 #315 #61a;
	width: auto;
}

input#ipSearch_AddressQ:hover {
    font: 0.938em 'trebuchet ms',helvetica,sans-serif;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	width: auto;
}

input#ipSearch_AddressQ:focus {
    font: 0.938em 'trebuchet ms',helvetica,sans-serif;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	width: auto;
}

input#ipSearch_DestIP {
    font: 0.938em 'trebuchet ms',helvetica,sans-serif;
    border: 1px solid;
    border-color: #61a #315 #315 #61a;
	width: auto;
}

input#ipSearch_DestIP:hover {
    font: 0.938em 'trebuchet ms',helvetica,sans-serif;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	width: auto;
}

input#ipSearch_DestIP:focus {
    font: 0.938em 'trebuchet ms',helvetica,sans-serif;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	width: auto;
}

input#ipSearch_DestPort {
    font: 0.938em 'trebuchet ms',helvetica,sans-serif;
    border: 1px solid;
    border-color: #61a #315 #315 #61a;
	width: auto;
}

input#ipSearch_DestPort:hover {
    font: 0.938em 'trebuchet ms',helvetica,sans-serif;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	width: auto;
}

input#ipSearch_DestPort:focus {
    font: 0.938em 'trebuchet ms',helvetica,sans-serif;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	width: auto;
}

/* END Input ------------------------------------------ */
