/* Table -----------------------------------------------*/
table.mainTable {
    font-size: 30px;
    width: auto;
    padding: 10px;
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
}

table#searchTable {
    font-size: 18px;
    width:auto;
    border-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
}

/* END Table ------------------------------------------ */

/* Input ---------------------------------------------- */
input#searchButton {
    color: #050;
    font-size: 0.938em;
    font-weight: bold;
	background-color:#fed;
    border: 1px solid;
    border-color: #61a #315 #315 #61a;
	opacity: 0.4;
}

input#searchButton:hover {
    color: #050;
    font-size: 0.938em;
	background-color: #fed;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	opacity: 1;
	cursor: pointer;
}

input#searchButton:focus {
    color: #050;
    font-size: 0.938em;
	background-color: #fed;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	opacity: 1;
	cursor: pointer;
}

input#searchBox {
    font-size: 0.938em;
    border: 1px solid;
    border-color: #61a #315 #315 #61a;
	width: 400px;
}

input#searchBox:hover {
    font-size: 0.938em;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	width: 400px;
}

input#searchBox:focus {
    font-size: 0.938em;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
	width: 400px;
}

/* END Input ------------------------------------------ */

/* Other ---------------------------------------------- */
a#advancedSearchButton {
    text-decoration: none;
}

a#advancedSearchButton:visited {
    text-decoration: none;
}

/* END Other ------------------------------------------ */
