/* Table -----------------------------------------------*/
table.aggNetworkStatistic {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #61a #315 #315 #61a;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
    border-collapse: collapse;
   	white-space:nowrap;
}

/* END Table ------------------------------------------ */

/* Table Columns -------------------------------------- */
td#graphEntry {
    border-bottom: 1px solid;
    border-color: #61a #315 #315 #61a;
}

/* END Table Columns ---------------------------------- */

