body {
    font-family: FreeSans, Arial, Helvetica, sans-serif;
}

tr.relay {
    line-height:75%;
}

tr.relay:hover {
    background-color: #69EEC8;
}

th {
    line-height:75%;
}

th.relayHeader {
    text-align: left;
    font-weight: bold;
    font-size: 0.6875em;
    background-color: #7BD4F7;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

th#routerName {
    text-align: left;
    font-weight: bold;
    font-size: 0.6875em;
    background-color: #7BD4F7;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    min-width: 100px;
}

th#badDir {
    text-align: left;
    font-weight: bold;
    font-size: 0.6875em;
    background-color: #7BD4F7;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    min-width: 80px;
}

th#lastDescPub {
    text-align: left;
    font-weight: bold;
    font-size: 0.6875em;
    background-color: #7BD4F7;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    min-width: 150px;
}

th#lastDescPub:hover {
    background-color: #89FB69;
    cursor: pointer;
}
th#badDir:hover {
    background-color: #89FB69;
    cursor: pointer;
}

th#routerName:hover {
    background-color: #89FB69;
    cursor: pointer;
}

th.relayHeader:hover {
    background-color: #89FB69;
    cursor: pointer;
}

th#relayHeaderInv {
    text-align: left;
    font: bold 0px Arial;
    background-color: #7BD4F7;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;
}

table.header {
    width: 100%;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
    padding: 2px;
}

td#mainTitle {
    background-color: #7BD4F7;
    text-align:center;
    font-size: 2.0em;
    font-weight: bold;
    color: #000000;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
}

td#mainLinks {
    background-color: #7BD4F7;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    font-size: 0.75em;
    color: red;
    padding: 10px;
}

table.displayStatus {
    width: 300px;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
    padding: 2px;
}

table.legend {
    width: 300px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
    padding: 2px;
}

a:hover {
color: black;
text-decoration: none;
}

a.link {
color: black;
text-decoration: none;
}

a.link:hover {
background-color: #89FB69;
}

a.linkDetails {
    color: black;
text-decoration: none;
}

.relayOK {
    background-color: white;
}

.relayHibernating {
    background-color: #F9BD67;
}

.relayDown {
    background-color: yellow;
}

.relayBadExit {
background-color: red;
}

table.appServerDetails {
    width: 350px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
}

table.advancedQuery {
    width: 250px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-right: auto;
    margin-left: auto;
    border-spacing: 1px;
}

tr#row_appServerDetails:hover {
background-color: #7BD4F7;
cursor: pointer;
}

table.aggStatisticSummary {
    width: 325px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
    border-collapse: collapse;
    white-space:nowrap;
}

tr#row_aggStatisticSummary {
}

td#aggBox {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    color: #000000;
    white-space:nowrap;
}

td.boxTitle {
background-color: #7BD4F7;
text-align: center;
color: #000000;
border-top: 2px solid black;
border-bottom: 2px solid black;
white-space:nowrap;
}

td#col_relayName {
    background-color: #C7FF89;
    width: 20px;
}

td#col_relayName:hover {
    background-color: #69EEC8;
}

td#col_relayBandwidth {
    width: 100px;
}

td#col_relayUptime {
    width: 55px;
}

td#col_relayIcons {
    width: 100px;
    text-align: right;
}

td#col_relayOrport {
    width: 50px;
}


td#col_relayDirport {
    width: 50px;
}

td#col_relayBadExit {
    width: 55px;
    text-align: center;
}

td#col_relayBadDir {
    width: 50px;
    text-align: center;
}

td#col_relayFingerprint {
    width: 50px;
    text-align: center;
}

td#col_relayContact {
    width: 50px;
    text-align: center;
}

td#col_relayLastDescPub {
    width: 50px;
    text-align: center;
}

td {
    font-size: 0.5625em;
}

table.relayTable {
    width: 100%;
    border-spacing: 0px;
    border: 0;
}

div.footer {
    text-align: center;
    padding: 5px 0 0 0;
    margin: 25px 0 0 0;
    border-top: 1px solid rgb(100,100,100);
    color: rgb(100, 100, 100);
}

p#trademark {
    text-align: center;
    font-size: 12px;
    margin: 0 0 1px 0;
}

table.bottomTables1 {
    font-size: 30px;
    width: auto;
    padding: 10px;
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
}

table#sortRouterListing {
    font-size: 18px;
    width:auto;
    padding: 10px;
    border-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
}

select#sortRouterListing {
    background-color: #95E4AF;
}

input#sortRouterListing {
    width: 100%;
    background-color: #95E4AF;
    width: 100%
}

input#sortRouterListing_Button {
    width: 200px;
}

td#sortRouterListing {
    background-color: #7BD4F7;
    text-align: center;
    color: #000000;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    white-space:nowrap;
}
