/* General Settings ------------------------------- */
td {
    font-size: 0.875em;
}

html {
    height: auto;
}

body {
    font-family: FreeSans, Arial, Helvetica, sans-serif;
    height: auto;
}

th {
    line-height:75%;
}

/* END General Settings ------------------------------- */

/* Table -----------------------------------------------*/
table.mainPage {
    width: 100%;
    padding: 10px;
    border-spacing: 10px;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
}

table.header {
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-spacing: 0px;
    padding: 0px;
}

table#noTableError {
    width: 600px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 4px;
    padding: 4px;
}

table.relayTable {
    width: 100%;
    font-size: 0.813em;
    border-spacing: 0px;
}

/* END Table ------------------------------------------ */

/* Table Headers -------------------------------------- */
th.relayHeader {
    color: #050;
    background-color: white;
    text-align: left;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #61a #315 #315 #61a;
    white-space:nowrap;
    font-weight: bold;
    font-size: 1em;
}

th#relayHeaderInv {
    color: #050;
    font: bold 0px Arial;
    background-color: white;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #61a #315 #315 #61a;
    white-space:nowrap;
    font-weight: bold;
}

th#icons {
    font: bold 0px Arial;
    cursor: pointer;
    min-width: 60px;
}

th#nickname {
    min-width: 100px;
}

th#nickname:hover {
    background-color: #89FB69;
    cursor: pointer;
}

th#uptime {
    min-width: 30px;
}

th#isbaddirectory {
    min-width: 100px;
}

th#isbaddirectory:hover {
    background-color: #89FB69;
    cursor: pointer;
}

th#published {
    min-width: 160px;
}

th#published:hover {
    background-color: #89FB69;
    cursor: pointer;
}

th#bandwidthobserved {
    min-width: 50px;
}

th#bandwidthobserved:hover {
    background-color: #89FB69;
    cursor: pointer;
}

th#dirport {
    min-width: 60px;
}

th#dirport:hover {
    background-color: #89FB69;
    cursor: pointer;
}

th#orport {
    min-width: 60px;
}

th#orport:hover {
    background-color: #89FB69;
    cursor: pointer;
}

th.hoverable:hover {
    background-color: #dac8e2;
    cursor: pointer;
}

/* END Table Headers ---------------------------------- */

/* Table Rows ----------------------------------------- */
tr.relay {
    line-height:75%;
}

tr.relay:hover {
    background-color: #9C6;
}

/* END Table Rows */

/* Table Columns -------------------------------------- */
td#pageTitle {
    color: #050;
    background-color: white;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #61a #315 #315 #61a;
    white-space:nowrap;
    font-size: 0.875em;
    font-weight: bold;
}

td#pageFooter {
    color: #888;
    background-color: white;
    text-align: center;
    white-space: nowrap;
}

td#mainTitle {
    background-color: #7BD4F7;
    text-align:center;
    font-size: 2.0em;
    font-weight: bold;
    color: #000000;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
}

td#boxError {
    background-color: #FB4521;
    text-align: center;
    color: #000000;
    font-size: 12px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    white-space:nowrap;
}

td#col_relayName {
    background-color: #fff4e8;
    width: 20px;
}

td#col_relayName:hover {
    background-color: #9C6;
}

td#col_relayAddress {
    color: #61a;
}

td#col_relayBandwidth {
    width: 100px;
}

td#col_relayUptime {
    width: 60px;
}

td#col_relayIcons {
    width: 100px;
    text-align: right;
}

td#col_relayORPort {
    width: 60px;
}


td#col_relayDirPort {
    width: 50px;
}

td#col_relayBadExit {
    width: 70px;
    text-align: center;
}

td#col_relayBadDir {
    width: 50px;
    text-align: center;
}

td#col_relayFingerprint {
    width: 50px;
    text-align: center;
}

td#col_relayContact {
    width: 250px;
    text-align: center;
}

td#col_relayLastDescPublished {
    width: 100px;
    text-align: center;
}

td#mainLinks {
    text-align: left;
    font-size: 0.75em;
    color: red;
}

td#mainLinks {
    text-align: center;
    font-size: 0.75em;
    color: red;
    padding: 10px;
}

td#paginators {
    text-align: center;
    width: 18px;
    height: 14px;
    padding: 3px;
}

td#paginatorLinks {
    text-align: center;
    width: 18px;
    height: 14px;
    padding: 3px;
}

td#paginatorText {
    text-align: center;
    width: 18px;
    height: 14px;
    padding: 3px;
}

/* END Table Columns ---------------------------------- */

/* Links ---------------------------------------------- */
a:hover {
    color: black;
    text-decoration: none;
}

a.link {
    color: black;
    text-decoration: none;
}

a.link:hover {
    background-color: #dac8e2;
}

a.sortLink {
    color: black;
    text-decoration: none;
}

a.linkDetails {
    color: black;
    text-decoration: none;
}

a#csv:hover {
    background-color: #9C6;
}

a.pageLinks {
    display: block;
    text-align: center;
    width: 100%;
    color: #050;
    font-size: 0.875em;
    font-weight: bold;
    text-decoration: none;
    background-color: #fff4e8;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #61a #315 #315 #61a;
}

a.pageLinks:hover {
    background-color: #dac8e2;
    border-color: #315 #61a #61a #315;
}

/* END Links ------------------------------------------ */
/* Other ---------------------------------------------- */
.relayOK {
    background-color: white;
}

.relayBadExit {
    background-color: #DB2929;
}

.relayHibernating {
    background-color: #DBDB29;
}

img#prevnexticon {
    height: 17px;
    width: 17px;
    opacity: 0.4;
}

img#prevnexticon:hover {
    opacity: 1;
}

div#footer {
    position: relative;
    margin-top: -40px;
    height: 40px;
    clear: both;
}

div#wrap {
    min-height: 100%;
}

div#main{
    overflow:auto;
    padding-bottom: 40px;
}
/* END Other ------------------------------------------ */
