body {
    font-family: FreeSans, Arial, Helvetica, sans-serif;
}

tr.relay {
    line-height:75%;
}

tr.relay:hover {
    background-color: #69EEC8;
}

th {
    line-height:75%;
}

th.relayHeader {
    text-align: left;
    font-weight: bold;
    font-size: 0.6875em;
    background-color: #7BD4F7;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

th#icons {
    font: bold 0px Arial;
    cursor: pointer;
    min-width: 60px;
}

th#nickname {
    min-width: 100px;
}

th#uptime {
    min-width: 30px;
}

th#isbaddirectory {
    min-width: 100px;
}

th#published {
    min-width: 160px;
}

th#bandwidthobserved {
    min-width: 50px;
}

th#dirport {
    min-width: 60px;
}

th#orport {
    min-width: 60px;
}

th#dirport:hover {
    background-color: #89FB69;
    cursor: pointer;
}

th#orport:hover {
    background-color: #89FB69;
    cursor: pointer;
}

th#bandwidthobserved:hover {
    background-color: #89FB69;
    cursor: pointer;
}

th#published:hover {
    background-color: #89FB69;
    cursor: pointer;
}

th#isbaddirectory:hover {
    background-color: #89FB69;
    cursor: pointer;
}

th#nickname:hover {
    background-color: #89FB69;
    cursor: pointer;
}

th.hoverable:hover {
    background-color: #89FB69;
    cursor: pointer;
}

table.header {
    width: 100%;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
    padding: 2px;
}

td#mainTitle {
    background-color: #7BD4F7;
    text-align:center;
    font-size: 2.0em;
    font-weight: bold;
    color: #000000;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
}

td#mainLinks {
    background-color: #7BD4F7;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    font-size: 0.75em;
    color: red;
    padding: 10px;
}

table.displayStatus {
    width: 300px;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
    padding: 2px;
}

table.legend {
    width: 300px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
    padding: 2px;
}

table#noTableError {
    width: 600px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 4px;
    padding: 4px;
}

td#boxError {
    background-color: #FB4521;
    text-align: center;
    color: #000000;
    font-size: 12px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    white-space:nowrap;
}

a:hover {
    color: black;
    text-decoration: none;
}

a.link {
    color: black;
    text-decoration: none;
}

a.link:hover {
    background-color: #89FB69;
}

a.sortLink {
    color: black;
    text-decoration: none;
}

a.linkDetails {
    color: black;
    text-decoration: none;
}

.relayOK {
    background-color: white;
}

.relayHibernating {
    background-color: #F9BD67;
}

.relayDown {
    background-color: yellow;
}

.relayBadExit {
    background-color: red;
}

table.appServerDetails {
    width: 350px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
}

table.advancedQuery {
    width: 250px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-right: auto;
    margin-left: auto;
    border-spacing: 1px;
}

tr#row_appServerDetails:hover {
    background-color: #7BD4F7;
    cursor: pointer;
}

table.aggStatisticSummary {
    width: 325px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
    border-collapse: collapse;
    white-space:nowrap;
}

td#aggBox {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    color: #000000;
    white-space:nowrap;
}

td.boxTitle {
    background-color: #7BD4F7;
    text-align: center;
    color: #000000;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    white-space:nowrap;
}

td#col_relayName {
    background-color: #C7FF89;
    width: 20px;
}

td#col_relayName:hover {
    background-color: #69EEC8;
}

td#col_relayBandwidth {
    width: 100px;
}

td#col_relayUptime {
    width: 60px;
}

td#col_relayIcons {
    width: 100px;
    text-align: right;
}

td#col_relayORPort {
    width: 60px;
}


td#col_relayDirPort {
    width: 50px;
}

td#col_relayBadExit {
    width: 70px;
    text-align: center;
}

td#col_relayBadDir {
    width: 50px;
    text-align: center;
}

td#col_relayFingerprint {
    width: 50px;
    text-align: center;
}

td#col_relayContact {
    width: 250px;
    text-align: center;
}

td#col_relayLastDescPublished {
    width: 100px;
    text-align: center;
}

td {
    font-size: 0.5625em;
}

table.relayTable {
    width: 100%;
    border-spacing: 0px;
    border: 1px solid black;
}

div.footer {
    text-align: center;
    padding: 5px 0 0 0;
    margin: 25px 0 0 0;
    border-top: 1px solid rgb(100,100,100);
    color: rgb(100, 100, 100);
}

p#trademark {
    text-align: center;
    font-size: 0.750em;
    margin: 0 0 1px 0;
}

table.bottomTables1 {
    font-size: 30px;
    width: auto;
    padding: 10px;
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
}

table#sortRouterListing {
    font-size: 30px;
    width:auto;
    border-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
}

select#sortRouterListing {
    background-color: #95E4AF;
}

input#sortRouterListing {
    width: 100%;
    background-color: #95E4AF;
    width: 100%
}

input#sortRouterListing_Button {
    width: 200px;
}

td#sortRouterListing {
    background-color: #7BD4F7;
    text-align: center;
    font-weight: bold;
    color: #000000;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    white-space:nowrap;
}
