/* Table -----------------------------------------------*/
table.whois {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
    border-collapse: collapse;
   	white-space:nowrap;
}

/* END Table ------------------------------------------ */

/* Other ---------------------------------------------- */
pre.whois {
    font-size: 1.125em;
}

/* END Other ------------------------------------------ */
